@charset "utf-8";
*{ margin:0; padding:0; box-sizing: border-box;}
body, input, button, textarea { color:#000; font:.4rem/1 "Microsoft YaHei", Arial, simsun, Tahoma, Verdana, Helvetica, sans-serif; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display:block; }
body { padding-bottom: 1.2rem;background: #fff;}
img { border:none; max-width: 100%;}
li { list-style:none; }
i, em { font-style:normal; }
i{width: 1em;height: 1em;display: inline-block;background-repeat: no-repeat;background-size: 100% 100%;}
a { color:#333; text-decoration:none; cursor:pointer; -webkit-transition: color,background .2s;transition: color,background .2s;}
a:focus { outline:none; }
a:hover { text-decoration:none; }
input[type="text"]:focus ,select,textarea{ outline:none; }
input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;padding:0;}
img[src=""]{opacity: 0;}
.btn:active{box-shadow: 3px 3px 10px rgba(0,0,0,.2) inset;}


.input-row:after,.bind-row:after,.list .item:after,.filter-row:after{content: "";display: block;clear: both;}
.color-blue{color:#4888f4!important;}
.color-green{color:#58c073!important;}
.color-red{color:#ff0000!important;}
.color-base{color:#917140!important;}
.color-gray{color: #999;}
/* 标签 */


.list{}
.list .item{padding:.25rem 0.25rem;display: block; position: relative;border-bottom: 1px solid #eee;}
.list .item-divider{background-color: #f4f4f4;padding: .2rem 0;}
.list .item-link{}
.list .item-link .arrow-left{font-size: .7rem;position: absolute;left: .35rem;top:50%;margin-top: -.35rem;}
.list .item-link .arrow-right{font-size: 1rem;position: absolute;right: .35rem;top:50%;margin-top: -.5rem;color: #ccc;}
.list .item-link .arrow-left + .txt{padding-left: 1.4rem;}
.list a.item:active{background-color: #f4f4f4;}
.line{height: .15rem;background:#f2f4f7;}


.header{position: fixed;top: 0;width: 100%;left: 0;z-index: 100;background-color: #fff;box-shadow: 0 0 10px rgba(0,0,0,.1);}
.header .logo{padding: .25rem .4rem;text-align: left;padding-top:.9rem;background:url(../images/top_bg.jpg) center no-repeat;background-size: cover;}
.header .logo img{height: .6rem;}
.city-select{position: absolute;right: .4rem;top: .9rem;line-height: .6rem;color: #fff;}
.ico-down-white{width: .34rem;height: .2rem;display: inline-block;background:url(../images/ico-arrow-white.png) center no-repeat;background-size: contain;}
.city-select i{margin-left: .15rem;}
.header + .viewport{padding-top: 2.8rem;}

.navbar{}
.navbar .swiper-slide{width: auto;}
.navbar ul{overflow: hidden;}
.navbar li{float: left;text-align:center;line-height: 1rem;white-space: nowrap;position: relative;}
.navbar li a{padding: 0;display: block;padding: 0 .4rem;color:#6f6f6f;}
.navbar .btn-plus{position: absolute;top:0;right:0;z-index:20;width: 1rem;height: 1rem;line-height:1rem;background: rgba(255,255,255,.8);text-align: center;}
.ico-menu{font-size: .3rem;background-image: url(../images/ico-menu.png);background-size: 100% auto;}
.navbar .btn-plus:after{content: "";display: block;width: .8rem;height: 1rem;position: absolute;right: 100%;top: 0;background:linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));background:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));}
.navbar li.active a{color:#000;}
.navbar li.active a:after{content: "";display:block;width: .3rem;height: .06rem;border-radius: .06rem;background:#da1520;position: absolute;bottom: .1rem;left: 50%;margin-left: -.15rem;}
.swiper-pagination-bullet-active{background:#fff;}

.tip-ad{margin: .3rem .4rem;background: #f2f8fe;text-align: center;color: #1b88ee;border-radius: 1rem;line-height: 1rem;}

/* -------------------------------- 
 * 页底 
 * -------------------------------- */
.footer {position: fixed;bottom: 0;left: 0;width: 100%;z-index: 100;background: #fff;border-top: 1px solid #eee;box-shadow: 0 1px 3px rgba(0,0,0,.05);}
.footer ul {float: left;width: 100%;position: relative;}
.footer li {float: left;width: 20%;height: 100%;text-align: center;position: relative;min-height: 1px;float: left;padding: .15rem 0;height: 1.2rem;font-size: .26rem;}
.footer li .point {background: #f43531;width: 6px;height: 6px;border-radius: 100%;display: block;position: absolute;left: 50%;top: 5px;margin-left: 10px;}
.footer li .num{background: #f43531;min-width: .3rem;height: .3rem;line-height:.3rem;color:#fff;text-align:center;border-radius: 100%;display: block;position: absolute;left: 50%;top: 5px;margin-left: 5px;}
.footer li span{display: block;color:#5c5c5c;margin-top: .1rem;}
.footer li img{width: .55rem;}
.footer li.cent-logo{position: relative;}
.footer li.cent-logo img{width: 1.8rem;height: 1.8rem;position: absolute;bottom:0;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}


.gotop{display:none;width: 1rem;height: 1rem;text-align:center;color:#fff;font-size:12px;border-radius:50%;background:#bbb url(../images/go-top.png) center center no-repeat;background-size:50% 50%;position:fixed;right:10px;bottom:2rem;z-index:9999;line-height:1.3em;}



.empty{padding: .3rem 0;text-align: center;color: #999;}
/* -------------------------------- 
 * 首页 
 * -------------------------------- */
.news-list{}
.news-list .item{padding: .4rem .4rem .5rem .4rem;position: relative;}
.news-list .item:after{content: "";display: block;left:.4rem;right: .4rem;bottom: 0;height:1px;background:#f0f0f0;position: absolute;transform: scaleY(.5);-webkit-transform: scaleY(.5);clear: both;}
.news-list .item .tit{color: #222222;font-weight: normal;line-height: .7rem;max-height: 1.4rem;margin-bottom: .34rem; margin-top: -.15rem;}
.news-list .item .tit a{color: #222222;}
.news-list .item .info{}
.news-list .item .info .time{float: right;color: #999999;font-size: .36rem;line-height: .5rem;}
.news-list .item .info .t{margin-left: .3rem;color: #999999;font-size: .36rem;}

/*一张小图*/
.news-list .item.img-1 .img{position: absolute;right: .4rem;top: .4rem;width: 3.4rem;height: 2.4rem;display: block;border-radius: .1rem;overflow: hidden;}
.news-list .item.img-1 .img img{max-width: 100%;}
.news-list .item.img-1 .tit{margin-right: 3.85rem;margin-bottom: .6rem;}
.news-list .item.img-1 .info{margin-right: 3.85rem;}
/*3张小图*/
.news-list .img-3 .img{margin-bottom: .3rem;font-size: 0;}
.news-list .img-3 .img img{width: 3.26rem;height: 2.35rem;border-radius: .1rem;margin-right: .1rem;}
.news-list .img-3 .img img:last-child{margin-right: 0;}
/*视频*/
.news-list .item.video .img{margin-bottom: .3rem;position: relative;}
.news-list .item.video .img img{width: 100%;max-height: 5.7rem;}
.news-list .item.video .img:before{content: "";display: block;width: 1.36rem;height: 1.36rem;background:url(../images/ico-play.png) no-repeat;background-size: 100% 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);z-index: 20;}
.news-list .item.video .img .time{position: absolute;right: 0;bottom: 0;z-index: 20;background:rgba(0,0,0,.4);color:rgba(255,255,255,.6);line-height: .5rem;padding: 0 .25rem;border-radius: .1rem;font-size: .3rem;}
/*广告*/
.news-list .item.ad .img{margin-bottom: .3rem;position: relative;}
.news-list .item.ad .img img{width: 100%;max-height: 5.7rem;}

/* -------------------------------- 
 * 内容页 
 * -------------------------------- */
.guanzhu-box{width:100%;padding: .6rem .4rem;position:relative;}
.guanzhu-box:after{content: "";display: block;clear: both;}
.ico-logo-cha,.ico-logo-wen{font-size: 1rem;width:1em;height:1em;display:inline-block;background:url(../images/logo-cha.png);background-size: 100% 100%;}
.ico-logo-wen{background-image:url(../images/logo-wen.png)}
.guanzhu-box > i{float:left;}
.guanzhu-box .det{margin: 0 2.4rem 0 1.3rem;font-size: .34rem;color:#767676;text-align:left;padding-top: .1rem;}
.guanzhu-box .det span{display:inline-block;}
.guanzhu-box .det .tit{font-size: .38rem;margin-bottom: .15rem;color:#000;}
.btn-guanzhu{background:#ea3323;color:#fff;display:inline-block;padding:0 .5rem;height: .8rem;line-height: .8rem;border-radius: .8rem;font-size: .36rem;}
.btn-guanzhu:active{opacity: .9;}
.guanzhu-box .btn-guanzhu{position:absolute;right:.4rem;top:50%;margin-top: -.4rem;}

.a-header{position: fixed;width: 100%;top: 0;left: 0;height: 1.2rem;background-color: #fff;z-index: 99;}
.a-header .btn-left{width: 1.2rem;height: 1.2rem;display:block;float:left;text-align: center;}
.a-header .btn-back{background:url(../images/ico-back.png) center center no-repeat;background-size: auto .5rem;}
.a-header .btn-more{width: 1.2rem;height: 1.2rem;display: block;background:url(../images/more.png) center center no-repeat;background-size: .5rem auto;position: absolute;right: 0;top: 0;}
.a-header .btn-back:active,.a-header .btn-more:active{background-color: #eee;}
.a-header .btn-guanzhu{position: absolute;right: 1.2rem;top: .3rem;height: .6rem;line-height: .6rem;font-size:.3rem;padding: 0 .3rem;opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;}
.a-header .logo{padding-top: .3rem;opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;}
.a-header .logo img{height: .6rem;}
.a-header + .viewport{padding-top: 1.2rem;}

.a-header.fixed{box-shadow: 0 0 3px rgba(0,0,0,.3);}
.a-header.fixed .logo,.a-header.fixed .btn-guanzhu{opacity: 1;visibility: visible;}

.article-con{padding: .3rem .4rem;}
.article-con .title{font-size: .72rem;color:#343434;line-height: .96rem;font-weight: normal;margin-bottom: .4rem;}
.article-con .info{color: #999;}
.article-con .info span{margin-right: .5rem;}
.article-con .body{font-size: .5rem;line-height: .8rem;}
.article-con .tips{color: #999;font-size: .42rem;line-height: .72rem;margin-top: 1.6rem;margin-bottom: 1.5rem;}
.article-hezuo{margin-bottom: 1.2rem;text-align: right;}
.article-hezuo .btn{background-color: #f5f5f5;color: #202020;display:inline-block;line-height: .84rem;padding: 0 .25rem 0 .55rem;border-radius: .72rem 0 0 .72rem;}
.ico-arrow-red{width: .3rem;height: .3rem;display: inline-block;background:url(../images/ico-arrow-red.png) center center no-repeat;background-size: contain;}
.article-hezuo .btn i{margin-left: .2rem;}

/*字体*/
.article-con.font-1 .body{font-size: .4rem;}
.article-con.font-2 .body{font-size: .5rem;}
.article-con.font-3 .body{font-size: .6rem;line-height: 1.8;}
.article-con.font-4 .body{font-size: .7rem;line-height: 1.8}


.ad-big{padding: 0 .4rem;margin-bottom: .6rem;}
.ad-big .img{display: block;margin-bottom: .4rem;border-radius: .15rem;overflow: hidden;}
.ad-big .det .name{margin-left: .3rem;color:#999;}

.news-section{padding: .6rem 0;}
.news-section .title{padding: 0 .4rem;font-weight: normal;}
.in-news-list{}
.in-news-list .item{padding: .4rem;position:relative;display: block;overflow: hidden;}
.in-news-list .item:active{background: #f4f4f4;}
.in-news-list .item:before{content: "";width: 100%;height: 1px;left:0;bottom:0;position:absolute;display:block;background-color: #f4f4f4;transform: scaleY(.5);-webkit-transform: scaleY(.5);}
.in-news-list .item:last-child:before{display: none;}
.in-news-list .item:after{content: "";display:block;clear: both;}
.in-news-list .item .img{display: block;width: 3.4rem;height: 2.4rem;float: left;overflow: hidden; margin-top: .09rem;}
.in-news-list .item .det{display: block;margin-left: 3.8rem;}
.in-news-list .item .det .tit{display:block;color:#222222;font-size: .48rem;line-height: .7rem;height: 1.4rem;overflow: hidden;}
.in-news-list .item .det .desc{display:block;color:#999;margin-top: .55rem;}
.in-news-list .item .det .desc .time{float: right;line-height: .5rem;}
.in-news-list .item .det .desc .tag{margin-left: .3rem;}

/*modal*/
.share-model{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 200;opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;}
.share-model .inner{position: absolute;width: 100%;bottom: 0;left: 0;z-index: 100;background:#fff;transition: all .3s;-webkit-transition: all .3s;transform: translateY(100%);-webkit-transform: translateY(100%);}
.share-model .cover{position: absolute;width: 100%;height: 100%;z-index: 99;background-color: rgba(0,0,0,.6);transition: all .3s;-webkit-transition: all .3s;opacity: 0;visibility: hidden;}
.share-model.active,.share-model.active .cover{opacity: 1;visibility: visible;}
.share-model.active .inner{-webkit-transform: translateY(0);transform: translateY(0);}

.share-model .btn-close{display: block;line-height: 1.3rem;text-align: center;color:#161616;}
.share-model .btn-close:active{background-color: #f4f4f4;}
.tool-content{background-color: #efefef;padding: .3rem 0;}
.tool-list{overflow: hidden;}
.tool-list li{width: 20%;float: left;text-align: center;}
.tool-list li a{padding: .4rem 0;display: block;float: none;margin: 0 auto;text-indent: 0;width: 100%; height: auto; background: none;color:#303030;font-size: .3rem;line-height: 1;}
.tool-list li a i{width: 1em;height: 1em;font-size: 1.45rem;display: inline-block;background-image: url(../images/sprites.png);background-repeat: no-repeat;background-color: #fff;background-size: 100% auto;border-radius:50%;vertical-align: top;}
.ico-wechat{background-position: 0 0;}
.ico-wechatquan{background-position: 0 -1em;}
.ico-qq{background-position: 0 -2em;}
.ico-qzone{background-position: 0 -3em;}
.ico-sina{background-position: 0 -4em;}
.ico-font{background-position: 0 -5em;}
.ico-night{background-position: 0 -6em;}
.ico-light{background-position: 0 -7em;}

.tool-list li span{display: block;margin-top: .3rem;}
.font-control{padding: .3rem .4rem;}
.font-control .row:after{content:"";display: block;clear: both;}
.font-control .row a{width: 25%;float: left;text-align: center;}
.font-control .row span.lines{height: .5rem;position: relative;display:block;width:100%}
.font-control .row span.lines:before{content:"";display: block;width: 100%;height: 1px;background:#ddd;position: absolute;bottom:0;left:0;}
.font-control .row span.lines:after{content: "";display: block;width: .1rem;height: .1rem;border-radius:50%;background-color: #eee;border-radius:50%;position: absolute;left: 50%;bottom: -.15rem;margin-left:-.15rem;border:.1rem solid #df0000;display: none;}
.font-control .row a.active{color:#df0000;}
.font-control .row a.active .lines:after{display: block;}


/*夜间模式*/
body.night{background:#444;color:#ccc;}
body.night .tool-content{background:#444;}
body.night .share-model .btn-close{background:#333;color:#ccc;}
body.night .tool-list li a{color:#999;}
body.night .tool-list li a i{background-color:#333;}
body.night .article-con .title{color:#ccc;}
body.night .a-header{background:#222;}
body.night .footer{background:#222;border-top-color: #333;}
body.night .line{background:#333;}
body.night .in-news-list .item .det .tit{color:#999;}
body.night .in-news-list .item:before{background:#333;}
body.night .article-hezuo .btn{background:#333;color:#999;}
body.night a{color:#999;}
body.night .guanzhu-box .det .tit{color:#999;}

/**/

/*地区选择弹窗*/
.modal{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background:#fff;z-index: 210;opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;transform: translateY(.4rem);-webkit-transform: translateY(.4rem);}
.modal .head{padding: .7rem 0;text-align: center;position: relative;}
.modal .head .title{font-size: .48rem;color:#313131;margin:0;font-weight: normal;}
.modal .head .btn-close{width: 1em;height: 1em;display: inline-block;background:url(../images/ico-close.png) no-repeat;background-size: contain;position: absolute;right: .4rem;top: 50%;margin-top:-.5em;opacity: .5;}
.modal .subhead{padding: 0 .4rem;}
.modal .subhead .tit{float: right;color:#999;}
.modal .body{position: absolute;top: 2.8rem;bottom:0;width:100%;overflow: auto;}


.modal.active{opacity: 1;visibility: visible;transform: translateY(0);-webkit-transform: translateY(0);}

.city-list{overflow: hidden;}
.city-list .item{float: left;display: block;margin: 0 0 .4rem .4rem;line-height: 1.2rem;text-align: center;border:1px solid #eee;border-radius: 1.2rem;width: 3rem;position: relative;}
.city-list .item.active{color:#cf2020;}
.city-list .item.hot:after{content: "";display: block;position: absolute;top:-6px;right:0;width: .92rem;height:.6rem;background:url(../images/ico-hot.png) no-repeat;background-size: 100% 100%;}



.imgs-category{margin: .5rem 0;}
.imgs-category ul{overflow: hidden;margin: 0 .4rem;}
.imgs-category li{margin: 0 .05rem 0 0;float: left;width:2.8rem;height:1.6rem;position: relative;overflow: hidden;border-radius:5px;    white-space: nowrap;}
.imgs-category li span{position: absolute;width: 100%;top: 50%;left:0;text-align: center;color:#fff;transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index: 10;}
.imgs-category li:before{content: "";display: block;background-color: rgba(0,0,0,.3);position: absolute;z-index:1;width: 100%;height: 100%;top:0;left: 0;}
.imgs-category .swiper-slide{width: auto;}
.imgs-category .more{}
.imgs-category .more:before{display: none;}
.imgs-category .more .ico-more{z-index: 30;background-color:#eee;display: block;position: relative;width:100%;height: 100%;z-index: 30;background-image: url(../images/more.png);background-repeat: no-repeat;background-size: auto .15rem;background-position: center;}

.imgs-title{margin: 0 .4rem .45rem .4rem;font-weight: normal;}
.imgs-type{padding-bottom: .5rem;}
.imgs-type ul{overflow: hidden;margin: 0 .4rem;}
.imgs-type li{width: 2.8rem;float: left;margin: 0 .05rem 0 0;}
.imgs-type li img{vertical-align: top;}
.imgs-type li span{display: block;margin-top: .3rem;font-size: .34rem;color:#3f3f3f;}
.imgs-type .swiper-slide{width: auto;}


.works-section{background-color: #ececec;padding: .75rem 0;}
.works { overflow: hidden;margin-left: .4rem;}
.works-item { position: relative;margin-bottom: .3rem;margin-right:.3rem;float: left; width: 4.85rem;background: #fff;border-radius:5px;overflow: hidden;border:1px solid #eee; }
.works-item img { width: 100% }
.works-item .img a:hover{opacity: .8;filter: alpha(opacity=80);}
.works .txt { font-size: .32rem;color:#707070; line-height: 1;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.works .tim{margin: 0;padding:0 .2rem;line-height:1rem;color:#4e4e4e;border-top: 1px solid #eee;font-size: .28rem;}
.works .tim .time{float: right;color: #999999;}
.works-item .det{padding: .4rem .2rem;}
.works-item .tit{color: #000;position: relative;margin-bottom: .2rem;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.works-item .tit a{color: #000;}
.works-item .tit .ico-dots{position: absolute;right: 0;top: 50%;margin-top: -.05rem;width: .5rem;height: .1rem;display: block;opacity: .5;}
.works-item .btns{padding: 15px 0 0;}
.works-item .btns .btn{margin-right: .55rem;color:#999999;font-size: .3rem;}
.works-item .btns .btn i{margin-left: .2rem; vertical-align: middle;}
.works-item .btns .btn span{vertical-align: middle;}
.works-item .btns .btn:hover{color:#666;}

.ico-dots{width: .18rem;height: .04rem;display: inline-block;background:url(../images/ico-dots-imgs.png) no-repeat;background-size:contain;}

.ico-download,.ico-share{width: .3rem;height: .3rem;display: inline-block;background-repeat: no-repeat;background-size:contain}
.ico-share{background-image: url(../images/ico-share.png);}
.ico-download{background-image:url(../images/ico-download.png);}

.modal-filter{background:none;}
.modal-filter .inner{position: absolute;left: 5%;right: 5%;top:5%;bottom:5%;background-color: #fff;z-index: 100;border-radius: 5px;}
.modal-filter  .cover{position: absolute;width: 100%;height: 100%;z-index: 99;background-color: rgba(0,0,0,.6);transition: all .3s;-webkit-transition: all .3s;opacity: 0;visibility: hidden;}
.modal-filter.active,.modal-filter.active .cover{opacity: 1;visibility: visible;}
.modal-filter.active .inner{-webkit-transform: translateY(0);transform: translateY(0);}
.modal-filter .body{top: 1.5rem;}
.modal-filter .tip{margin: 0 .4rem .4rem;color:#999;}

.modal-type{background:none;}
.modal-type .inner{position: absolute;left: 5%;right: 5%;top:5%;bottom:5%;background-color: #fff;z-index: 100;border-radius: 5px;}
.modal-type  .cover{position: absolute;width: 100%;height: 100%;z-index: 99;background-color: rgba(0,0,0,.6);transition: all .3s;-webkit-transition: all .3s;opacity: 0;visibility: hidden;}
.modal-type.active,.modal-type.active .cover{opacity: 1;visibility: visible;}
.modal-type.active .inner{-webkit-transform: translateY(0);transform: translateY(0);}
.modal-type .body{top: 1.5rem;}
.modal-type .tip{margin: 0 .4rem .4rem;color:#999;}

.filter-container{overflow: hidden;}
.filter-container .col{width: 50%;float: left;padding: 0 .4rem;}
.filter-container li{line-height: 1.1rem;text-align: center;margin-bottom: .05rem;}
.filter-container li a{display: inline-block;font-size: .5rem;color:#404040;padding: 0 .4rem;}
.filter-container li.active a{background:#f3f3f3;}


.modal-type .filter-container li{text-align: left;}
@media (min-width: 600px){
	body{width: 600px;margin: 0 auto;box-shadow: 0 0 15px rgba(0,0,0,.3);}
	.header,.footer,.a-header,.modal{width: 600px;left: 50%;margin-left: -300px;}
}