/* 顶部搜索 */
.search-box{margin: .3rem .5rem;position: relative;}
.search-box input[type="text"]{background: none;line-height: .8rem;height: .8rem;padding: 0 .3rem 0 1rem;border:1px solid #666;width: 100%;}
.search-box .ico-search,.search-box .ico-close{position: absolute;left: .3rem;top: 50%;margin-top: -.2rem;font-size: .4rem;background-image: url(../images/search.png);}
.search-box .ico-close{left: auto;right: .3rem;background-size: 80% 80%;display: none;}
 .ico-close{background-image: url(../images/cha.png);}

.navbar{}
.navbar .swiper-slide{width: auto;}
.navbar ul{overflow: hidden;}
.navbar li{float: left;text-align:center;line-height: 1rem;white-space: nowrap;position: relative;}
.navbar li a{padding: 0;display: block;padding: 0 .4rem;color:#666;}

.navbar li.active a{color:#fff;}
.navbar li.active a:after{content: "";display:block;width: .3rem;height: .06rem;border-radius: .06rem;background:#da1520;position: absolute;bottom: .1rem;left: 50%;margin-left: -.15rem;}
.swiper-pagination-bullet-active{background:#fff;}

.news-list{}
.news-list .item{padding: .4rem .4rem .5rem .4rem;position: relative;}
.news-list .item:after{content: "";display: block;left:.4rem;right: .4rem;bottom: 0;height:1px;background:#f0f0f0;position: absolute;transform: scaleY(.5);-webkit-transform: scaleY(.5);clear: both;}
.news-list .item .tit{color: #ccc;font-weight: normal;line-height: .7rem;max-height: 1.4rem;margin-bottom: .34rem; margin-top: -.15rem;overflow: hidden;}
.news-list .item .tit a{color: #ccc;}
.news-list .item .info{}
.news-list .item .info .time{float: right;color: #666;font-size: .36rem;line-height: .5rem;}
.news-list .item .info .t{color: #666;font-size: .36rem;}
.news-list .item .info .ico-txt + .t{margin-left: .3rem;}
/*一张小图*/
.news-list .item.img-1 .img{position: absolute;right: .4rem;top: .4rem;width: 3.4rem;height: 2.4rem;display: block;border-radius: .1rem;overflow: hidden;}
.news-list .item.img-1 .img img{max-width: 100%;}
.news-list .item.img-1 .tit{margin-right: 3.85rem;margin-bottom: .6rem;}
.news-list .item.img-1 .info{margin-right: 3.85rem;}
/*用户*/
.news-list .item-user{padding-bottom: 0;}
.news-list .item-user .head{margin-bottom: .2rem;overflow: hidden;}
.news-list .item-user .head .avatar{width: 1.2rem;height: 1.2rem;float: left;border-radius: 50%;overflow: hidden;}
.news-list .item-user .head .avatar img{width: 100%;}
.news-list .item-user .head .det{margin-left: 1.4rem; line-height: .6rem;}
.news-list .item-user .head .det h3{font-weight: normal;font-size: .4rem;}
.news-list .item-user .head .det p{font-size: .34rem;color: #888;}
.news-list .item-user .body-text{line-height: 1.4;margin-bottom: .3rem;}
.news-list .item-user .body-img{margin-bottom: .3rem;height: 4rem;overflow: auto;}
.news-list .item-user .body-img img{height: 100%;}
.news-list .item-user .foot{overflow: hidden;}
.news-list .item-user .foot .btn{display: block;width: 33.3333333%;float: left;text-align: center;line-height: 1rem;font-size: .34rem;}
.news-list .item-user .foot .btn.active{color: #ffeb3b;}
.news-list .item-user .foot .btn i{vertical-align: middle;margin-right: .2rem;}
.news-list .item-user .foot .btn span{vertical-align: middle;}

.ico-share{background-image: url(../images/share.png);background-size: contain;}
.ico-message{background-image: url(../images/message.png);}
.ico-thumb{background-image: url(../images/thumb.png);}
.ico-star{background-image: url(../images/star.png);}
.news-list .item-user .foot .btn.active .ico-thumb{background-image: url(../images/thumb-active.png);}
.active .ico-star{background-image: url(../images/star-active.png);}

.article-con{padding: .3rem .4rem;}
.article-con .title{font-size: .6rem;line-height: .96rem;font-weight: normal;margin-bottom: .4rem;}
.article-con .info{color: #999;margin-bottom: .4rem;}
.article-con .info span{margin-right: .5rem;}
.article-con .body{font-size: .44rem;line-height: .8rem;}
.article-con .control{padding: 1rem 0;text-align: center;}
.article-con .control .btn{line-height: 1rem;border:1px solid #666;padding: 0 .6rem;display: inline-block;border-radius: 1rem;margin: 0 .2rem;}
.article-con .control .btn i{margin-right: .2rem;}


.news-section{padding: .6rem 0;}
.news-section .title{padding: 0 .4rem;font-weight: normal;}
.in-news-list{}
.in-news-list .item{padding: .4rem;position:relative;display: block;overflow: hidden;}
.in-news-list .item:active{background: #f4f4f4;}
.in-news-list .item:before{content: "";width: 100%;height: 1px;left:0;bottom:0;position:absolute;display:block;background-color: #f4f4f4;transform: scaleY(.5);-webkit-transform: scaleY(.5);}
.in-news-list .item:last-child:before{display: none;}
.in-news-list .item:after{content: "";display:block;clear: both;}
.in-news-list .item .img{display: block;width: 3rem;height: 2rem;float: left;overflow: hidden; margin-top: .09rem;}
.in-news-list .item .det{display: block;margin-left: 3.3rem;}
.in-news-list .item .det .tit{display:block;color:#ccc;font-size: .4rem;line-height: .6rem;height: 1.2rem;overflow: hidden;}
.in-news-list .item .det .desc{display:block;color:#999;margin-top: .4rem;font-size: .34rem;}
.in-news-list .item .det .desc .time{float: right;line-height: .5rem;}
.in-news-list .item .det .desc .tag{margin-left: .3rem;}

/**/
.reply-section{}
.reply-section .title{padding: 0 .4rem;font-weight: normal;margin-bottom: .4rem;}
.reply-section .title.mt{margin-top: .4rem;}
.reply-list{}
.reply-list .item{padding: .4rem;border-bottom: 1px solid #666;}
.reply-list .item .head{margin-bottom: .2rem;overflow: hidden;position: relative;}
.reply-list .item .head .avatar{width: 1.2rem;height: 1.2rem;float: left;border-radius: 50%;overflow: hidden;}
.reply-list .item .head .avatar img{width: 100%;}
.reply-list .item .head .det{margin-left: 1.4rem; line-height: .6rem;}
.reply-list .item .head .det h3{font-weight: normal;font-size: .4rem;}
.reply-list .item .head .det p{font-size: .34rem;color: #888;}
.reply-list .item .head .btn-thumb{position: absolute;top: 0;right: 0;}
.reply-list .item .head .btn-thumb span{margin-right: .2rem;}
.reply-list .item .body-text{line-height: 1.4;margin-bottom: .3rem;}
.reply-list .item .body-img{margin-bottom: .3rem;height: 4rem;overflow-x: auto;overflow-y: hidden;}
.reply-list .item .body-img img{height: 100%;margin-right: .2rem;}
.reply-list .item .foot{}
.reply-list .item .foot .link{display: inline-block;line-height: .7rem;padding: 0 .3rem;color:#ffeb3b;background: rgba(255,255,255,.2);font-size: .34rem;}

.reply-fix-footer{position: fixed;width: 100%;bottom: 0;left: 0;background: #000;border-top: 1px solid rgba(255,255,255,.3);z-index: 99;padding: .2rem .3rem;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -moz-flex; display: -ms-flexbox; display: flex;}
.reply-fix-footer .txt{display: block;width: 100%;float: left;line-height: .8rem;background: #333;padding: 0 .2rem;}
.reply-fix-footer .btn{width: 13%;float: left;display: block;text-align: center;line-height: .8rem;font-size: .5rem;}
.reply-fix-footer .btn em{position: absolute;top: -.16rem;right: -.1rem;font-size: .3rem;background: #000;padding: 1px;line-height: 1;}
.reply-fix-footer .btn i{vertical-align: top;position: relative;top: .12rem;}


.reply-post{padding: .4rem;}
.reply-post .text{width: 100%;background: none;border: 0;}
.reply-post input.text{height: 1rem;border-bottom: 1px solid #666;margin-bottom: .3rem;}
.reply-post textarea.text{height: 10rem;}
.reply-post .imglist{margin-top: .4rem;}
.reply-post .imglist .item{float: left;width: 2.2rem;height: 2.2rem;margin: 0 .3rem .3rem 0;position: relative;}
.reply-post .imglist .item .btn-remove{position: absolute;top: -.2rem;right: -.2rem;background: #ccc;width: .4rem;height: .4rem;text-align: center;line-height: .4rem;border-radius: 50%;}
.reply-post .imglist .item .btn-remove i{font-size: .2rem;}
.reply-post .imglist:after{content: "";display: block;clear: both;}
.reply-post .imglist .item-plus{border:2px dashed #ccc;border-radius: 3px;}
.reply-post .imglist .item-plus:before,.reply-post .imglist .item-plus:after{content: "";display: block;background: #ccc;position: absolute;width: 50%;left: 25%;height: .1rem;top: 50%;margin-top: -.05rem;}
.reply-post .imglist .item-plus:after{transform: rotate(90deg);}


/*圈子*/
.forum-menus{}
.forum-menus:after{content: "";display: block;clear: both;}
.forum-menus li{width: 33.3333333%;float: left;text-align: center;}
.forum-menus li a{display: block;padding: .4rem 0;}
.forum-menus li span{display: block;margin-top: .1rem;}
.forum-menus li i{font-size: 1.6rem;margin-left: .3rem;}
.ico-menu-1{background-image: url(../images/menu-1.png);}
.ico-menu-2{background-image: url(../images/menu-2.png);}
.ico-menu-3{background-image: url(../images/menu-3.png);}

.forum-tuijie{border-top: 1px solid #666; padding: .3rem .4rem;overflow: hidden;}
.forum-tuijie .title{width: 2rem;float: left;}
.tuijie-slider{margin-left: 2rem;height: .6rem;}

.expert-slider{}
.expert-slider li{width: 25%;float: left;text-align: center;padding: .3rem 0;}
.expert-slider li span{display: block;}
.expert-slider li .name{margin-top: .2rem;}
.expert-slider li .img{position: relative;}
.expert-slider li .img img{width: 1.6rem;border-radius: 50%;height: 1.6rem;}
.expert-slider li .img .tag{position: absolute;z-index: 10;bottom: 0;left: 50%;width: 1.6rem;margin-left: -.8rem;border-radius: .6rem;line-height: .5rem;text-align: center;color: #fff;background: #ff0000;font-size: .34rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.expert-slider li .img .vip{position: absolute;background-image: url(../images/ico_lv_gold.png);top: 0;right: .56rem;font-size: .4rem;}

.section{background: #222;}
.section .hd{padding: 0 .4rem;margin-bottom: .3rem;border-bottom: 1px solid #444;line-height: 1rem;}
.section .hd:after{content: "";display: block;clear: both;vertical-align: middle;}
.section .hd .tit{vertical-align: middle;}
.section .hd .more{float: right;}
.section .hd .title em{vertical-align: middle;color: #999;margin-left: .2rem;font-size: .34rem;}
.section .hd .title:before{content: "";display: inline-block;width: 2px;height: .4rem;background: #ffeb3b;margin-right: .2rem;vertical-align: middle;}
.section + .section{margin-top: .4rem;}
.forum-expert-page .swiper-pagination-bullet{width: auto;height: auto;background: none;padding: 0 .2rem;color: #ccc;border-radius: 0;opacity: 1;}
.forum-expert-page .swiper-pagination-bullet.swiper-pagination-bullet-active{border-bottom: 1px solid #ffeb3b;color: #ffeb3b;}

.attention-list{overflow: hidden;}
.attention-list li{width: 25%;float: left;text-align: center;padding: .3rem 0;}
.attention-list li img{width: 1.3rem;}
.attention-list li .name{display: block;margin-top: .2rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.attention-list li .des{display: block;margin-top: .2rem;font-size: .34rem;color:#999;}

.forum-hot-list{}
.forum-hot-list li{width: 20%;}