@charset "gb2312";
body,html,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,object,iframe,blockquote,pre,a,abbr,address,code,img,fieldset,form,label,figure{margin:0;padding:0;}
body,html,input,button,textarea{color:#666;font:14px/1.8 'Microsoft YaHei',Arial,Tahoma,Verdana,Helvetica,sans-serif;}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block;}
body{_background-image:url(about:blank);_background-attachment:fixed;}
h1{font-size:18px;}
h2{font-size:16px;}
h3,h4,h5{font-size:14px;}
img{border:none;vertical-align:middle;}
li{list-style:none;}
i,em{font-style:normal;}
a{color:#666;text-decoration:none;}
a:focus{outline:none;}
a:hover{color:#bc2c09;text-decoration:none;}
input[type="text"]:focus{outline:none;}
input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
.jianju10{ height:10px; clear:both; overflow:hidden;}
.jianju15{ height:15px; clear:both; overflow:hidden;}
.jianju20{ height:20px; clear:both; overflow:hidden;}
.jianju30{ height:30px; clear:both; overflow:hidden;}
.jianju40{ height:40px; clear:both; overflow:hidden;}
.jianju50{ height:50px; clear:both; overflow:hidden;}
.jianju60{ height:60px; clear:both; overflow:hidden;}
.jianju70{ height:70px; clear:both; overflow:hidden;}
.wraper{width:1420px;margin:0 auto;}
.z9999{z-index:9999;position:relative;}
.z8888{z-index:8888;position:relative;}
.disabled{display:none;}

/*======================================
*                图标
========================================*/
.ico-phone,.ico-msg,.ico-mail,.ico-history,.ico-menu,.ico-marker,.ico-vip{width: 25px;height: 25px;display: inline-block;background:url(../images/sprites.png) no-repeat;}
.ico-marker{background-position: 0 0;}
.ico-phone{background-position: -25px 0;}
.ico-msg{background-position: -50px 0;}
.ico-mail{background-position: -75px 0;}
.ico-history{background-position: -100px 0;}
.ico-menu{background-position: -125px 0;}
.ico-vip,.ico-vip.blue{background-position: -200px 0;}
.ico-vip.orange{background-position: -225px 0;}
.ico-refresh,.ico-qrcode,.ico-backtop,.ico-plus{width: 20px;height: 20px;display: inline-block;background:url(../images/sprites.png) no-repeat;}
.ico-refresh{background-position: 0 -30px;}
.ico-qrcode{background-position: -20px -30px;}
.ico-backtop{background-position: -40px -30px;}
.ico-plus{background-position: -60px -30px;}

.ico-arrow-down{display: inline-block;width: 8px;height: 5px;background: url(../images/arrow-down-white.png) no-repeat;}
/*颜色*/

.citylist a:hover,.main-news .tabs li a:hover,.toutiao-list .item .det .tit a:hover,.v-news-list .det .tit a:hover,.rank-list .item a:hover,.shijuan-list li .det .tit a:hover{color:#da1520;}
.color-orange{color:#ff5151!important;}

/* 标签 */
/* tag */
.ico-txt{display:inline-block;height:20px;line-height:20px;padding:0 6px; font-weight:normal;color:#fff;font-size:14px;border-radius:2px;}
.ico-txt{*display:inline;}
.ico-txt.red{background-color:#eb4c5e;}
.ico-txt.pink{background-color:#fcaaaa;}
.ico-txt.blue{background-color:#208aee;}
.ico-txt.yellow{background-color:#f19149;}
.ico-txt.green{background-color:#6db852;}
.ico-txt.purple{background-color:#be9bd9;}
.ico-text.dark-green{background-color:#42ac01;}
.ico-text.dark-red{background-color:#c00;}
.ico-txt.border{border: 1px solid transparent;}
.ico-txt.border.red{background-color: transparent;color:#df0000;border-color:#df0000; }
.ico-txt.border.pink{background-color:#fcaaaa;background-color: transparent;color:#df0000;border-color:#df0000: }
.ico-txt.border.blue{background-color: transparent;color:#208aee;border-color:#208aee; }
.ico-txt.border.yellow{background-color: transparent;color:#ffbe58;border-color:#ffbe58; }
.ico-txt.border.green{background-color: transparent;color:#6db852;border-color:#6db852; }
.ico-txt.border.purple{background-color: transparent;color:#be9bd9;border-color:#be9bd9; }
.ico-text.border.dark-green{background-color: transparent;color:#42ac01;border-color:#42ac01; }
.ico-text.border.dark-red{background-color: transparent;color:#c00;border-color:#c00; }

/*======================================
*                头部
========================================*/
.topbar{background-color: #da1520;height: 45px;position: relative;}
.topbar .wraper{position: relative;z-index: 10;}
.topbar .nav.left{float: left;}
.topbar .nav.right{float: right;}
.topbar .nav .item{float: left;color:#fff;font-size: 16px;line-height: 45px;position: relative;}
.topbar .nav .item-link{padding: 0 15px;color:#fff;display: block;line-height: 45px;height:45px; border-right:1px solid #e4575f;}
.topbar .nav a.item-link:hover,.topbar .nav .active a.item-link{background-color: #c1000b;}
.topbar .nav .item-link > i{vertical-align: top;margin-top: 10px;*float: left;}
.topbar .nav .item-link > span{vertical-align: top;*float: left;}
.topbar .nav .item:last-child .item-link{border:0;}
.topbar .nav .item .ico-arrow-down{margin-top: 20px;margin-left:10px;}
.topbar .nav .item-link >i + span{margin-left: 10px;}

.subnav{background: #fff;border:1px solid #eee;color:#404040;font-size:14px;box-shadow: 0 5px 5px #eee;position: absolute;left: 0;top: 100%;border-radius: 0 0 5px 5px;transition: all .3s;-webkit-transition: all .3s;opacity: 0;visibility: hidden;z-index: 9;}
.subnav.right{left: auto;right:0;}
.topbar .nav .item.active .subnav{opacity: 1;visibility: visible;}

.btn-menu em{display: block;text-indent: -999em;overflow: hidden;width: 28px;height: 44px;line-height: 0;}
.btn-menu em span {display: block;float: right;clear: both;width: 24px;height: 2px;background: #efefef;}
.btn-menu em span.menu1 {margin: 13px 2px 0;-webkit-transition: -webkit-transform .4s;-o-transition: -o-transform .4s;transition: transform .4s;}
.btn-menu em .menu1 {-moz-animation: menu 800ms ease 0s 2;-webkit-animation: menu 800ms ease 0s 2;animation: menu 800ms ease 0s 2;}
.btn-menu em span.menu2 {margin: 6px 2px 0;}
.btn-menu em .menu2 {-moz-animation: menu 800ms ease .16s 2;-webkit-animation: menu 800ms ease .16s 2;animation: menu 800ms ease .16s 2;}
.btn-menu em span.menu3 {margin: 6px 2px 0;-webkit-transition: -webkit-transform .4s;-o-transition: -o-transform .4s;transition: transform .4s;}
.btn-menu em .menu3 {-moz-animation: menu 800ms ease .32s 2;-webkit-animation: menu 800ms ease .32s 2;animation: menu 800ms ease .32s 2;}
.open-menu-active .btn-menu em {background: url(../images/menu.png) -1px 7px no-repeat;background: url(../images/menu.png) -300px 7px no-repeat\0;background: url(../images/menu.png) -300px 7px no-repeat\9;}
.open-menu-active .btn-menu em {-moz-animation: movemenu 300ms steps(10) forwards;-webkit-animation: movemenu 300ms steps(10) forwards;animation: movemenu 300ms steps(10) forwards;}
.open-menu-active .btn-menu em span {opacity: 0;display: none\9;}
@keyframes movemenu{0%{background-position:-1px 7px}100%{background-position:-301px 7px}}
@keyframes menu{0%{width:24px}45%{width:6px}90%{width:24px}100%{width:24px}}


.header .wraper{padding: 25px 0 23px;overflow: hidden;}
.header .logo{width: 430px;height: 100px;float: left;}
.header .logo img{height: 100px;}
.header .header-banner{width: 740px;float: left;height: 100px;margin-left: 30px;background-color: #eee;}
.header .header-ad{width: 190px;float: left;height: 100px;margin-left: 30px;background-color: #eee;}
.navbar{}
.navbar .nav{height: 60px;}
.navbar .nav li{float:left;background: url(../images/nav-line.png) center right no-repeat;position:relative;padding-right: 35px;padding-left: 27px;line-height: 60px;}
.navbar .nav a{display: block;padding: 0 20px;font-size: 20px;color: #000;}
.navbar .nav a:hover{color: #cf2020;}
.navbar .nav li.first{padding-left: 0;}
.navbar .nav li.active a{color: #cf2020;border-bottom: 2px solid #cf2020;}
.navbar .nav li .sup{width: 30px;height: 15px;display: block;position: absolute;top: 20px;right: 20px;background-repeat: no-repeat;}
.navbar .nav li .sup.new{background-image: url(../images/ico-new.gif);}
.navbar .nav li .sup.hot{background-image: url(../images/ico-hot.gif);}



/*城市下拉*/
.citylist{width:450px;padding:15px;line-height: 30px;font-size: 0;}
.citylist a{display: inline-block;width: 64px;text-align: center;height: 30px;line-height: 30px;margin: 3px 0;font-size: 14px;color:#404040;}
.citylist a{*display: inline;}
.citylist a.active{background: #da1520;color:#fff;border-radius: 5px;}
/*电话下拉*/
.toptel{width: 260px;}
.toptel dd{padding: 0 15px;border-bottom: 1px solid #eee;}
/*投稿信箱下拉*/
.topmail{width: 260px;text-align: center;}
/*菜单下拉*/
.quick-nav{position: absolute;width: 100%;left: 0;border:0;}
.quick-nav .wraper{overflow: hidden;}
.quick-nav ul{float: left;width: 16.6666666%;padding: 30px 0; *width:16.5%;}
.quick-nav ul li{padding-left: 90px;line-height: 40px;border-right:1px solid #eee;}
.quick-nav ul.col-6 li{border-right:0;}
.open-menu-active .quick-nav{opacity: 1;visibility: visible;}
.open-menu-active .btn-menu{background-color: #c1000b;}


/*======================================
*                右侧浮动菜单
========================================*/
.float-menu{position: fixed;left: 50%;margin-left: 710px;bottom:100px;width: 44px;}
.float-menu li{margin-bottom: 7px;position: relative;}
.float-menu li .link{display:block;width: 44px;height: 44px;line-height:44px;text-align:center;border-radius: 50%;background-color: #e5e5e5;}
.float-menu li .link i{position: relative;top: 12px;}
.float-menu li .link:hover,.float-menu li.active .link{background-color: #ff5b5f;}
.float-menu .sub{position: absolute;right: 100%;margin-right: 10px;background-color: #fff;border-radius: 5px;border:1px solid #e5e5e5;padding:10px;top: -55px;opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;}
.float-menu .sub .txt{text-align: center;font-size: 12px;color: #666;line-height: 16px;margin-top: 5px;width: 100%;white-space: nowrap;text-align: center;}
.float-menu .sub .color-red{color:#ff0000;}
.float-menu .sub .qrcode img{width: 100px;}
.float-menu li.active .sub{opacity: 1;visibility: visible;}


/*======================================
*                底部
========================================*/
.footer{background-color: #f8f8f8;border-top: 2px solid #da1520;}
.footer-friend{padding: 35px 0 30px;}
.footer-friend .title{text-align: center;color: #000;line-height:1;font-size: 30px;margin-bottom: 30px;}
.flinks-list{ overflow: hidden; }
.flinks-list li{float: left;margin-right: 20px;line-height: 30px;}
.footer-info{background-color: #eeeeee;text-align: center;padding:10px 0;line-height: 30px;}
.footer-info span{padding: 0 30px;border-right: 1px solid #909090;}
.footer-navs .wraper{overflow: hidden;border-top: 1px solid #eee;}
.footer-navs ul{float: left;width:260px;height: 135px;padding: 45px 0;border-right: 1px solid #eee;}
.footer-navs ul .tit{font-size: 16px;line-height: 1;margin-bottom: 10px;}
.footer-navs ul li{line-height: 40px;padding-left: 90px;}

.footer-navs ul.col-1 li{padding-left: 0px;}
.footer-navs ul.col-4{width: 360px;}
.footer-navs ul.col-4 li{padding-left: 70px;line-height: 30px;}
.footer-navs ul.col-5{border:0;}
.footer-navs ul.col-5 li{padding-left: 80px;}



/*======================================
*                主页
========================================*/
.main{padding: 40px 0;}
.main .wraper{overflow: hidden;}
.left-bar{width: 240px;float: left;margin-right: 50px;}
.center-bar{width: 720px;float: left;margin-right: 50px;}
.right-bar{width: 360px;float: left;}

.grid{margin-bottom: 35px;}
.grid .g-hd{padding-bottom: 14px;border-bottom:1px solid #eee;}
.grid .g-hd .title{font-size: 20px;color: #000;padding: 0 15px;border-left: 2px solid #cf2020;line-height: 1;margin:0;font-weight: normal;}
.grid .g-hd .more{float: right;color: #adadad;}

.grid-yk .g-hd{background:url(../images/ico-xiaolu.png) right top no-repeat;}
.zhuanlan-item{border-bottom: 1px solid #eee;padding-bottom: 20px;margin-top: 25px;}
.zhuanlan-item .img{text-align: center;margin-bottom: 20px;}
.zhuanlan-item .title{font-size: 18px;color:#000;margin: 0 0 15px 0;line-height:1;font-weight: normal;}
.zhuanlan-item .zt{height: 110px;background-color: #eee;position: relative;margin-bottom: 10px;}
.zhuanlan-item .zt .tag{position: absolute;top:0;right:20px;display: inline-block;background:#009efe;color: #fff;font-size: 12px;padding: 0 5px;line-height: 20px;border-radius:0 0 5px 5px;}
.zhuanlan-item .desc{color:#707070;line-height: 24px;}
.zhuanlan-item .news li{background:url(../images/dot-gray.png) left center no-repeat;padding-left: 10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}



/* 轮播 */
.flexslider{position: relative;overflow: hidden;}
.flexslider .slides{overflow: hidden;}
.flexslider .flex-control-paging{position: absolute;z-index: 10;bottom: 30px;left: 0;width: 100%; text-align: center;}
.flexslider .flex-control-paging li{width: 10px;height: 10px;display: inline-block;margin: 0 5px;}
.flexslider .flex-control-paging li{*display: inline;}
.flexslider .flex-control-paging li a{display: block;width: 100%;height: 100%;border-radius:12px;background: #fff;text-indent: 9999px;overflow: hidden;}
.flexslider .flex-control-paging li a.flex-active{background: #da1520;}
.flexslider .flex-prev,.flexslider .flex-next{opacity: .7; z-index: 10;text-indent: -9999px;overflow: hidden;}
.flexslider .flex-prev:hover,.flexslider .flex-next:hover{opacity: 1;}
.flex-direction-nav,.flex-direction-nav li{height: 0;}

.index-slider{position: relative;overflow: hidden;width: 100%;margin-bottom: 20px;}
.index-slider .slides{height: 370px;background:#f4f4f4;border-radius: 10px;overflow: hidden;}
.index-slider img{width:100%;height: 370px;}
.index-slider .flex-control-paging{text-align: right;right: 20px;width: auto;left: auto;bottom: 25px;}
.index-slider .slides .tit{position: absolute;line-height: 60px;left: 0;right: 0;font-size: 22px;color: #fff;font-weight: normal;bottom: 0;z-index: 20;background-image: url(../images/slider-shadow.png);}
.index-slider .slides .tit a{padding: 0 110px 0 25px;color: #fff;}
.index-slider .slides .tit a:hover{color: #ff5b5f;}

.tabs{overflow: hidden;}
.tabs .current a{color: red;}

.main-news .tabs{border-top: 1px solid #da1520;background-color: #f7f9fa;margin-bottom: 10px;}
.main-news .tabs li{width: 120px;float: left;text-align: center;}
.main-news .tabs li a{font-size: 17px;line-height: 50px;display: block;}
.main-news .tabs li.current a{background-color: #da1520;color: #fff;}

.toutiao-list{}
.toutiao-list .item{padding: 20px 0;border-bottom: 1px solid #eeeeee;}
.toutiao-list .item .img{width: 172px;height: 120px;float: left;border-radius:6px;overflow: hidden;background: url(../images/logo-loading.png) center no-repeat #ebf8f8;background-size: 60% auto;}
.toutiao-list .item .img img{width: 100%;height:100%;}
.toutiao-list .item .det{}
.toutiao-list .item .det .tit{margin: 0 0 15px 0;line-height: 28px;max-height:56px;font-size: 20px;color: #000;font-weight:normal;overflow: hidden;}
.toutiao-list .item .det .tit a{color:#000;vertical-align: top;}
.toutiao-list .item .det .tit .ico-txt{margin-right: 10px;    vertical-align: top;}
.toutiao-list .item .info{color:#6e6e6e;line-height: 1;}
.toutiao-list .item .info span{margin-right: 20px;}
.toutiao-list .item .img + .det{height: 120px;display: table-cell;vertical-align: middle;}
.toutiao-list .item .img + .det .tit{margin-left: 25px;}
.toutiao-list .item .img + .det .info{margin-left: 25px;}
.np_pic {font-size: 0;margin-bottom: 15px;overflow: hidden;}
.np_pic a {display: block;width: 730px;}
.p_img3 {width: 173px; height: 125px; overflow: hidden; float: left; display: inline; margin-right: 9px;border-radius: 6px;background-color: #ebf8f8;}
.p_img3 img,.ns_pic img,.toutiao-list .img img {-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.p_img3:hover img,.ns_pic:hover img,.toutiao-list .img:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.ns_pic {display: block;height: 260px;margin-bottom: 15px;overflow: hidden;border-radius:6px;background-color: #ebf8f8;}

.btn-load-more{display: block;height: 60px;line-height: 60px;text-align:center;font-size:20px;border:2px solid #eee;border-radius: 6px;margin-top: 25px;}
.btn-load-more i{margin-right: 26px;vertical-align: middle;}
.btn-load-more span{vertical-align: middle;}
.btn-load-more:hover{border-color:#da1520;}
.btn-load-more:hover .ico-plus{background-position: -80px -30px;}

.v-news-list{margin-top: -16px;margin-bottom: 30px;}
.v-news-list li{ overflow: hidden;padding: 16px 0 0; }
.v-news-list .img{width: 65px;height: 65px;position: relative;float: left;}
.v-news-list .img a{display: block;width: 100%;height: 100%;border-radius: 50%;overflow: hidden;background-color: #eee;}
.v-news-list .img img{width: 100%;height: 100%;}
.v-news-list .img .ico-vip{position: absolute;right: 0;bottom: 0;z-index: 20;}
.v-news-list .det{margin-left: 85px;border-bottom: 1px solid #eee;padding-bottom: 12px;}
.v-news-list .det .tit{font-size: 16px;color: #000;line-height: 22px;height: 44px;overflow: hidden;font-weight: normal;}
.v-news-list .det .tit a{color: #000;}
.v-news-list .det .info{color: #707070;margin-top: 5px;}
.v-news-list li:last-child .det{border:0;}

/*热文排行*/
.rank-list{padding-top: 10px;}
.rank-list .item{line-height: 55px;padding-left: 37px;border-bottom:1px solid #eee;position: relative;vertical-align: top;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.rank-list .item a{font-size: 16px;color:#000;font-weight: normal;}
.rank-list .item em{position: absolute;line-height: 55px;display: block;width: 35px;left: 0;top:0;font-size: 20px;color:#999;font-family: Georgia, serif;text-align: center;}
.rank-list .item:nth-child(1) em{color: #da1520;}
.rank-list .item:nth-child(2) em{color: #ff681c;}
.rank-list .item:nth-child(3) em{color: #ff9c50;}

/*优秀试卷*/
.shijuan-list{}
.shijuan-list li{padding: 20px 0;border-bottom: 1px solid #eee;}
.shijuan-list li .img{width: 140px;height: 100px;position:relative;float:right;border-radius: 6px;background-color: #eee;overflow: hidden;}
.shijuan-list li .img img{width: 100%;height: 100%;}
.shijuan-list li .img .tag{position: absolute;right: 15px;top: 0;display: inline-block;line-height: 20px;padding: 0 5px;font-size:12px;color: #fff;background-color: #ddd;border-radius: 0 0 8px 8px;}
.shijuan-list li .img .tag.red{background-color: #eb4c5e;}
.shijuan-list li .img .tag.yellow{background-color: #f19149;}
.shijuan-list li .img .tag.green{background-color: #6db852;}
.shijuan-list li .det{margin-right: 155px;}
.shijuan-list li .det .tit{font-size: 18px;font-weight: normal;line-height: 30px;height: 60px;overflow: hidden;margin-top: 10px;}
.shijuan-list li .det .tit a{color: #000;}
.shijuan-list li .det .yx{display: inline-block;color: #eb4c5e;border:1px solid #eb4c5e;border-radius: 10px;padding: 0 10px;line-height: 24px;}

/*app下载二维码*/
.qr-area{background-color: #f8f8f8;padding:15px; overflow: hidden;}
.qr-area .img{width: 95px;height: 95px;float: left;}
.qr-area .det{margin-left: 145px;}
.qr-area .det .tit{font-weight: normal;color: #000;font-size: 26px;line-height: 60px;}
.qr-area .det p{color: #da1520;}

/*推广轮播图*/
.tuiguang-slider{}
.tuiguang-slider{position: relative;overflow: hidden;width: 100%;margin-bottom: 20px;}
.tuiguang-slider .slides{height: 400px;background:#f4f4f4;border-radius: 10px;overflow: hidden;}
.tuiguang-slider img{width:100%;height: 400px;}
.tuiguang-slider .flex-control-paging{text-align: center;right: 20px;width: auto;left: 0;bottom: 12px;}
.tuiguang-slider .slides .tit{position: absolute;line-height: 80px;left: 0;right: 0;font-size: 18px;color: #fff;font-weight: normal;bottom: 0;z-index: 20;background-image: url(../images/slider-shadow-tuiguang.png);text-align: center;}
.tuiguang-slider .slides .tit a{padding: 0 25px 0 25px;color: #fff;text-align: center;}
.tuiguang-slider .flex-control-paging li a{background: none;border:2px solid #fff;}
.tuiguang-slider .flex-control-paging li a.flex-active{background: #fff;}
.tuiguang-slider .flex-control-paging li{width: 6px;height: 6px;}

/*艺术院校库*/
.search-box{padding: 25px 15px;}
.search-box .s-row{overflow: hidden;margin-bottom: 20px;line-height: 44px;width: 100%;}
.search-box .form-control{height: 44px;line-height: 44px;padding:0 10px;background-color: #fff;border:1px solid #dddddd;border-radius: 3px;outline: none;}
.search-box .form-control:focus{border-color: #ff5151;}
.search-box .btn{height: 46px;line-height: 46px;display:block;color: #fff;text-align: center;float:left;border-radius: 3px;background-color: #fa7449;}
.search-box .name,.search-box .form-control{float: left;margin-right: 8px;display: block;}
.search-box .btn-search{background-color: #ff5151;width: 74px;}
.search-box .ys-btns{margin-bottom: 0;}
.search-box .ys-btns .btn{width: 154px;float: left;}
.search-box .ys-btns .l{margin-right: 15px;}

.grid-search{background-color: #fff8f6;border-radius: 5px;border:1px solid #ddd;}
.grid-search .g-hd{padding:20px 15px 0 15px;border:0;}
.search-box .s-row.no-margin{margin:0;}