@charset "utf8";
body,html,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,object,iframe,blockquote,pre,a,abbr,address,code,img,fieldset,form,label,figure{margin:0;padding:0;}
body,html,input,button,textarea{color:#000;font:.14rem/1.8 "Microsoft YaHei",Arial,simsun,Tahoma,Verdana,Helvetica,sans-serif;}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block;}
html{font-size: 100px;}
body{_background-image:url(about:blank);_background-attachment:fixed;}
h1{font-size:.18rem;}
h2{font-size:.16rem;}
h3,h4,h5{font-size:.14rem;}
img{border:none;vertical-align:middle;}
li{list-style:none;}
i,em{font-style:normal;}
a{color:#000;text-decoration:none;}
a:focus{outline:none;}
a:hover{color:#df0000;text-decoration:none;}
input[type="text"]:focus{outline:none;}
input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}

/* 清除浮动 */
.clearfix:after,.wraper:after{content:"";display:block;height:0;clear:both; visibility:hidden;}


/* 布局 */
.wraper{width:1260px;margin:0 auto;}


/* 动画 */
.navbar li a,.navbar li .subnav,.team-slider li .det .fot .btn,.team-slider li,.m-img,.tabs li a,.btn-border{-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.course-banner a:before{-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}


/* 图片 */
.m-img{display:block;position:relative;overflow:hidden;background-color:#eee;background-image:url(../images/logo-for-load.png); background-position:center;background-repeat:no-repeat;}
/*.m-img:before{content:"";display:block;width:100%;height:100%;position:absolute;left:0;top:0;z-index:9;background-color:rgba(0,0,0,0);}
.m-img:hover:before{background-color:rgba(0,0,0,0.2);}*/
.m-img .tit{display:block;width:100%;height:40px;line-height:40px;padding-bottom:10px;overflow:hidden;position:absolute;left:0;bottom:-10px;background:rgba(0,0,0,0.4); background:url(../images/tit-bg-black.png) 0 0 repeat\9;text-indent:1em;z-index:999;font-size:16px;color:#fff;transition:background-color 0.4s ease-in-out;}
.m-img:hover{transform: scale(1.1);-webkit-transform: scale(1.1);}

/*图标*/
.ico-top-tel{width: 20px;height: 20px;background: url(../images/sprites-20x20.png) 0 0 no-repeat;display: inline-block; vertical-align: middle;}
.btn-top-wechat,.btn-top-qq,.ico-photo{width: 30px;height: 30px;background: url(../images/sprites-30x30.png) 0 0 no-repeat;display: inline-block; vertical-align: middle;}

/* -------------------------------- 
 * 页头 
 * -------------------------------- */
.header{position: relative;z-index: 50;background: #df001f;}
.header .wraper{padding: .10rem 0; position: relative;}
.header .logo{float:left;}
.header .logo img{height: .4rem;}
.top-right{float: right;padding-top: .10rem;}
.top-right a{margin-left: .20rem}
.top-right img{height: .21rem;}

.navbar{width: 100%;background: #fff;}
.navbar ul{float: left;}
.navbar li{float: left;font-size: .16rem;line-height: .40rem;}
.navbar li a.link{display: block;padding: 0 25px;}
.navbar li.active a.link,.navbar li a.link:hover{color:#df001f;}

.navbar .sel-lang{float: right;padding-top: .07rem;cursor: pointer;}
.navbar .sel-lang > span{vertical-align: middle;display: inline-block;}
.navbar .sel-lang img{vertical-align: middle;height: .25rem;}
.navbar .sel-lang .arrow{width: 12px;height: 12px;display: inline-block;background: url(../images/ico-arrow-down.png);vertical-align: middle;margin-left: 5px;}
.ico-arrow-down{}
/* -------------------------------- 
 * 页底 
 * -------------------------------- */
.footer{background-color: #222222;line-height: 1;font-size: 14px;color:#999696;padding: 30px 0 10px;background-image: url(../images/footer-bg.png);}

.footer p{margin:0 0 20px;}
.footer p i{margin: 0 10px;}
.footer .copyrights{border-top: 1px solid #373737;padding: 20px 0;}
.footer .copyrights .links{float: right;}
.footer .copyrights .links li{margin-left: 20px;float: left;}
.footer .copyrights .links li i + span{margin-left: 5px;}
.footer .copyrights .left{float: left;}
.footer .footer-links{padding: 20px 0;overflow: hidden;}
.footer .footer-links .tel{float: right;}
.footer .footer-links .tel span{vertical-align: middle;display: inline-block;margin-left: 5px;}
.footer .footer-links .links{float: left;}
.footer .footer-links .links a{margin-right: 10px;}
.footer a{color:#999696;}
.flinks{background: #222222;color:#999696;font-size: 14px;line-height: 30px;padding: 50px 0;}

.dlink-list{overflow: hidden;}
.dlink-list dl{float: left;width:16.6666666%;}
.dlink-list dl dt{margin-bottom: 10px;}
.dlink-list dl dt,.dlink-list dl dt a{font-size: 18px;color:#e1e1e1;}
.dlink-list dl dd{}
.dlink-list a{color:#999696;}
.ico-douyin,.ico-wechart,.ico-lang-gray{display: inline-block;width: 1em;height: 1em;background: url(../images/sprites-20x20.png) no-repeat;background-size: 100% auto;}
.ico-wechart{background-position: 0 -2em; }
.ico-lang-gray{background-position: 0 -4em; }
.ico-phone-gray{width: 1em;height: 1em;display: inline-block;font-size: 15px;background: url(../images/ico-phone-foot.png) no-repeat;background-size: 100% 100%;vertical-align: middle;}
/* 轮播 */
.flexslider{position: relative;overflow: hidden;}
.flexslider .slides{overflow: hidden;}
.flexslider .slides li{position: relative;overflow: hidden;}
.flexslider .flex-control-paging{position: absolute;z-index: 10;bottom: 30px;left: 0;width: 100%; text-align: center;}
.flexslider .flex-control-paging li{width: 12px;height: 12px;display: inline-block;margin: 0 8px;}
.flexslider .flex-control-paging li{*display: inline;}
.flexslider .flex-control-paging li a{display: block;width: 100%;height: 100%;border-radius:12px;background: url(../images/opacity-50.png);text-indent: -999px;overflow: hidden;}
.flexslider .flex-control-paging li a.flex-active{background: #fff;}
.flexslider .flex-prev,.flexslider .flex-next{opacity: .7; z-index: 10;text-indent: -9999px;overflow: hidden;}
.flexslider .flex-prev:hover,.flexslider .flex-next:hover{opacity: 1;}
.flex-direction-nav,.flex-direction-nav li{height: 0;}

.index-slider{position: relative;overflow: hidden;width: 100%;}
.index-slider .slides{height: 900px;background:#f4f4f4;}
.index-slider .slide-img{width: 2000px;height:100%;position: relative;left: 50%;margin-left: -1000px;text-align: center;overflow: hidden;background-size: cover;background-position: center}
.index-slider .slide-text{width: 50%;position: absolute;left:100%;right:0;height: 100%;float: left;background: #df0000;color: #fff;top: 0;transition: all .4s;transition-delay: .4s;}
.index-slider .slide-text .inner{position: absolute;left:130px;top: 70%;transform: translateY(-50%);-webkit-transform: translateY(-50%);transition: all .5s;transition-delay: .7s;opacity: 0;}
.index-slider .slide-text h2{font-size: .45rem;letter-spacing: 5px;}
.index-slider .slide-text h4{font-size: .23rem;letter-spacing: 5px;}
.index-slider .slide-text .btn{display: inline-block;line-height: .40rem;background: #fff;border-radius: 5px;padding: 0 30px;color: #000;margin-top: .35rem;}
.index-slider img{height: 100%;}
.index-slider .flex-prev,.index-slider .flex-next{width: 88px;height: 88px;display: block;position: absolute;top: 50%;margin-top: -44px;left: 70px;background: url(../images/banner-arrow.png); }
.index-slider .flex-next{left: auto;right: 70px;background-position: 0 -88px;}

.index-slider .flex-active-slide .slide-text{left: 50%;}
.index-slider .flex-active-slide .slide-text .inner{top: 50%;opacity: 1;}



.pagination{padding: 70px 0; text-align: center;}
.pagination a{display: inline-block;height: 36px;line-height: 36px;text-align: center;border:1px solid #dddddd;border-radius: 3px;padding: 0 10px;font-size: 14px;color:#333;margin: 0 3px;min-width: 15px;background: #f6f6f6;}
.pagination a.active,.pagination a.active:hover{background: #df0000;color:#fff;border-color:#df0000;}
.pagination a:hover{color:#df0000;border-color:#df0000;}

/* 文章详情 */
.article-title{font-size: 40px;color:#333;margin-bottom: 45px;line-height: 1.2;}
.article-con{overflow: hidden;}
.article-con .left{width: 90px;float: left;text-align: center;}
.article-con .right{width: 1030px;float: right;padding-left: 40px;border-left: 1px solid #ddd;}
.article-con .left .date{font-weight: normal;}
.article-con .left .date h4{font-weight: normal;font-size: 18px;line-height: 1;margin-bottom: 15px;}
.article-con .left .date .year{}
.article-con .left .date .day{font-size: 30px;}
.article-con .left .date .time{}
.article-con .left .tit{margin-top: 30px;font-size: 14px;}
.article-con .left .tit p{color:#df0000;}
.article-con .left .tit .btn{display: inline-block;background: #df0000;color: #fff;padding: 0 10px;border-radius: 20px;}
.art-body{font-size: 18px;line-height: 36px;color:#000;}
.art-body img{max-width:100%;margin-bottom: 20px;}
.article-con .left .share{margin-top: 40px;}
.title-line{position: relative;}
.title-line em{background: #fff;padding: 0 5px;display: inline-block;position: relative;z-index: 10;}
.title-line:after{content: "";display: block;width: 100%;height: 1px;background: #ddd;top: 50%;left: 0;position: absolute;}
.bdsharebuttonbox a { width: 40px!important; height: 40px!important; background: url(../images/share_icons.png)!important; margin-right: 15px!important; background-repeat: no-repeat!important; background-size: 80px auto!important; display: inline-block!important; margin: 0!important; float: none!important; }
.bdsharebuttonbox a.bds_weixin { background-position: -40px 0!important; }
.bdsharebuttonbox a.bds_sqq { background-position: -40px -40px!important; }
.bdsharebuttonbox a.bds_qzone { background-position: -40px -80px!important; }
.bdsharebuttonbox a.bds_tsina { background-position: -40px -120px!important; }
.bdsharebuttonbox a.bds_more { background-position: -40px -160px!important; }
.bdsharebuttonbox a.bds_weixin:hover { background-position: 0 0!important; }
.bdsharebuttonbox a.bds_sqq:hover { background-position: 0 -40px!important; }
.bdsharebuttonbox a.bds_qzone:hover { background-position: 0 -80px!important; }
.bdsharebuttonbox a.bds_tsina:hover { background-position: 0 -120px!important; }
.bdsharebuttonbox a.bds_more:hover { background-position: 0 -160px!important; }
.bdsharebuttonbox li b{display: none;}
.bdsharebuttonbox .txt{margin-bottom: 10px;display: block;font-size: 14px;}



.index-items{position: relative;height: 13.00rem;margin: .90rem 0;}
.index-items .wraper{position: relative;}
.index-items .item{position: absolute;overflow: hidden;}
.index-items .item img{width: 100%;}
.index-items .item .text{text-align: center;position: absolute;z-index: 10;top: .60rem;left: 0;right: 0;}
.index-items .item .text h6{font-size: .27rem;color: #000;}
.index-items .item .text p{color: #797474;font-size: 18rem;}
.index-items .item-1{left: 0;top: 0;width: 6.18rem;height: 7.70rem;}
.index-items .item-2{left: 6.42rem;top: 0;width: 6.18rem;height: 5.10rem;}
.index-items .item-3{left: 6.42rem;top: 5.40rem;width: 6.18rem;height: 3.10rem;}
.index-items .item-4{left: 0;top: 8.00rem;width: 6.18rem;height: 5.00rem;}
.index-items .item-5{left: 6.42rem;top: 8.80rem;width: 6.18rem;height: 4.20rem;}
.index-items .item-2 .text h6,.index-items .item-2 .text p,.index-items .item-5 .text h6,.index-items .item-5 .text p{color: #fff;}
.index-items .item-3 .text{text-align: left;left: .2rem;}
.index-items .item-5 .text{top: .40rem;}

.section-activity{margin-bottom: .90rem;}
.section-activity .wraper{overflow: hidden;}
.activity-list{overflow: hidden;margin-left: -7px;margin-right: -7px;}
.activity-list li{float: left;width: 33.3333333%;margin-bottom: 15px;position: relative;}
.activity-list li a{overflow: hidden;display: block;margin: 0 7px;}
.activity-list li a img{width: 100%;}
.activity-list li .cover{position: absolute;left: 7px;top: 0;right: 7px;bottom: 0;background: rgba(0,0,0,.4);opacity: 0;visibility: hidden;pointer-events: none;transition: all .3s;-webkit-transition: all .3s;}
.activity-list li .cover .txt{position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);width: 90%;left: 5%;color: #fff;text-align: center;}
.activity-list li .cover .txt h3{font-size: 25px;}
.activity-list li .cover .txt h5{font-size: 14px; }
.activity-list li .cover .txt .time{font-size: 13px;width: 150px;text-align: left;margin: 0 auto;}
.activity-list li .cover .txt .time i{margin-right: 5px;}
.activity-list li .cover img{max-width: 100%;}
.ico-marker{width: 1em;height: 1em;display: inline-block;background: url(../images/ico-marker.png) no-repeat; background-size: 100% 100%;}
.ico-clock{width: 1em;height: 1em;display: inline-block;background: url(../images/ico-time.png) no-repeat; background-size: 100% 100%;}
.activity-list li:hover .cover{opacity: 1;visibility: visible;}

/*语言选择弹窗*/
.countryMask {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 10000;background-color: rgba(0,0,0,.8);opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;}
.countryMask.open{opacity: 1;visibility: visible;	}
.countryWrap {width: 10rem;padding: 1rem 0 1rem 1rem;-webkit-box-sizing: border-box;box-sizing: border-box;border: 1px solid #707070;-webkit-box-shadow: 0 0.133333rem 1.066667rem 0 rgba(0,0,0,.1);box-shadow: 0 0.133333rem 1.066667rem 0 rgba(0,0,0,.1);border-radius: .04rem;position: fixed;z-index: 10001;background-color: #fff;left: 50%;top: 50%;-webkit-transform: translate(-50%,-50%) scale(0);-ms-transform: translate(-50%,-50%) scale(0);transform: translate(-50%,-50%) scale(0);font-size: 0;opacity: 0;visibility: hidden;transition: all .3s;-webkit-transition: all .3s;}
.countryWrap.open{
	-webkit-transform: translate(-50%,-50%) scale(1);-ms-transform: translate(-50%,-50%) scale(1);transform: translate(-50%,-50%) scale(1);opacity: 1;visibility: visible;}
.countryWrap .icon-close {cursor: pointer;width: .50rem;height: .5rem;overflow: hidden;position: absolute;right: 0;top: 0;font-size: .20rem;color: #000;text-align: center;line-height: .5rem;font-weight: 600;background: url(../images/ico-close.png) center center no-repeat;background-size: 40% 40%;opacity: .5;}
.countryWrap a {width: 1.6rem;height: 22px;line-height: 22px;margin-bottom: .4rem;display: inline-block;vertical-align: middle;color: #777;}
.countryWrap a:hover{color: #df0000;}
.countryWrap img {width: 22px;height: 22px;overflow: hidden;vertical-align: top;margin-right: 6px;
}
.countryWrap span {display: inline-block;vertical-align: top;line-height: 22px;font-size: 14px;font-family: DINOffcPro;}



.content-slider{color: #fff;background-size: cover;background-position: center;background-repeat: no-repeat;position: relative;}
.content-slider .wraper{height: 4.3rem;}
.content-slider .head{border-bottom: 1px solid #a0a0a0;line-height: .60rem;overflow: hidden;}
.content-slider .head .title{float: left;font-size: .16rem;}
.content-slider .head .menus{float: right;}
.content-slider .head .menus li{float: left;}
.content-slider .head .menus li a{padding: 0 5px;color: #fff;}
.content-slider .text h3{color: #d15050;font-size: .24rem;}
.content-slider .text h4{color: #fff;font-size: .18rem;font-weight: normal;}
.content-slider.no-bg{color: #000}
.content-slider.no-bg .head .menus li a{color: #000}
.content-slider.no-bg .head{border-bottom: 1px solid #ddd;}
.content-slider.no-bg .wraper{height: auto;}

/*帮助中心*/
.content-slider-help{background-image: url(../images/help-bg.jpg);}
.content-slider-help:after{content: "";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.4);}
.content-slider-help .wraper{position: relative;z-index: 5;}
.content-slider-help .text{position: absolute;width: 4.3rem;top: 50%;right: 0;text-align: left;transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.bank-list{ overflow: hidden; }
.bank-list li{width: 33.3333333%;float: left;}
.bank-list li p{padding-right: 10px;}
.section-help .wraper{}
.help-list{margin: .7rem .7rem;font-size: .14rem;}
.help-list .item{padding-left: 1.2rem;padding-bottom: .8rem;position: relative;color: #504e4e;}
.help-list .item:before{content: "";display: block;width: 2px;height: 100%;background: #ca0606;position: absolute;top: 0;left: .35rem;}
.help-list .item .title{font-size: .18rem;width: .38rem;height: .38rem;padding: .1rem;border:.06rem solid #ca0606;border-radius: 50%;font-weight: bold;line-height: 1.1;text-align: center;color: #ca0606;position: absolute;top: -.18rem;left: 0;background: #fff;z-index: 10;}
.help-list .item:last-child:before{display: none}

/*产品介绍*/
.content-slider-product{background-image: url(../images/product/product-silder.jpg);height: 6rem;}
.section-product-menu{margin: .4rem 0;}
.section-product-menu ul{overflow: hidden;}
.section-product-menu li{float: left;width: 25%;}
.section-product-menu li a{display: block;background: #f9f9f9;text-align: center;margin: 0 4px;padding: .3rem 0;}
.section-product-menu li span{display: block;margin-top: 10px;font-size: .16rem;color: #000;}
.section-product-menu li a:hover{background: #eee;}
.ico-promenu-1,.ico-promenu-2,.ico-promenu-3,.ico-promenu-4{width: 1em;height: 1em;display: inline-block;background: url(../images/sprites-60x60.png) no-repeat;background-size: 100% auto;font-size: .6rem;}
.ico-promenu-1{background-position: 0 0;}
.ico-promenu-2{background-position: 0 -2em;}
.ico-promenu-3{background-position: 0 -4em;}
.ico-promenu-4{background-position: 0 -6em;}
.section-product-container{background: #f9f9f9;padding-top: .3rem;}
.section-product-container .wraper{padding-bottom: .3rem;}
.section-product-container .wraper .big-img img{width: 100%;}
.section-product-container .wraper img{width: 100%;}
.section-product-container .title{margin-bottom: .2rem;font-size: .25rem;color: #000;}
.child-products{overflow: hidden;}
.child-products > div{float: left;background: #fff;width: 25%;text-align: center;}
.child-products > div a{display: block;border: 3px solid #f9f9f9;height: 2.8rem;padding-top: .3rem;position: relative;}
.child-products > div .tit{display: block;margin-top: .2rem;font-size: .14rem;color: #000;font-weight: bold;}
.child-products .item-1{width: 100%;height: auto;}
.child-products .item-1 a{height: auto;padding-top: 0;}
.child-products .item-9 a{height: 1.5rem;padding-top: 0;text-align: left;}
.child-products .item-9 a .tit{width: 1.2rem;position: absolute;right: 0;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);margin-top: 0;}
.child-products .item-9 img{margin-left: .1rem;}
.child-products .item-6 a{background: url(../images/product/product-child-bg.png) center no-repeat;background-size: cover;color: #fff;}
.child-products .item-6 .t-tit{color: #fff;font-size: .16rem;text-align: center;display: block;}
.child-products .item-6 .t-subtit{color: #fff;font-size: .14rem;text-align: center;display: block;}
.child-products .item-6 .tit{margin-top: .1rem;color: #fff;}
.child-products .item-6 img{width: 1.7rem;height: 1.7rem;}



/*分页*/
.pagination{padding: .40rem 0;text-align: center;}
.pagination .page{display: inline-block;margin: 0 3px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #ddd;padding: 0 10px;}
.pagination .page.active{background: #ff0000;color: #fff;border-color: #ff0000;}
.pagination input[type="text"]{width: 50px;border:1px solid #ddd;padding: 0 5px;line-height: 30px;height: 30px;}

/*产品详情*/
.content-slider-productdetail{background-image: url(../images/product/product-detail-bg.jpg);height: 3.3rem;}
.section-product-detail .wraper{padding: .3rem 0;}
.product-description{text-align: center;padding-top: .3rem;}
.product-description img{max-width: 100%;}

/* 关于我们 */
.content-slider-contact{background-image: url(../images/contact-bg.jpg);height: 4rem;}
.contact-list{overflow: hidden;}
.contact-list .item{width: 50%;float: left;line-height: 2}
.contact-list .item .title{font-size: .24rem;color: #000;}
.section-contact{padding: .8rem 0;}

/*媒体中心*/
.section-media{background: #f2f2f2;}
.media-list{margin-top: .4rem;}
.media-list:after{content: "";display: block;clear: both;}
.media-list .item{width: 33.3333333%;float: left;margin-bottom: 6px;}
.media-list .item .img{background:#fff;margin: 0 3px;position: relative;padding-bottom: 74%;}
.media-list .item .img img{position: absolute;width: 100%;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.media-list .item .content{background:#fff;margin: 0 3px;padding: .2rem .15rem;}
.media-list .item .content .title{line-height: .3rem;color: #000;height: .6rem;font-size: .16rem;overflow: hidden;}
.media-list .item .content .foot{margin-top: .1rem;overflow: hidden;}
.media-list .item .content .foot .preview{float: right;color: #999;}
.media-list .item .content .foot .time{float: left;color: #999;}
.media-list .item .content .foot .time i{}
.ico-eye,.ico-share,.ico-hart{width: 1em;height: 1em;display: inline-block;background: url(../images/sprites-20x20.png) no-repeat;background-position: 0 -6em;font-size: 20px;vertical-align: middle;}
.ico-share{background-position: 0 -8em;}
.ico-hart{background-position: 0 -10em;}

.media-article{padding: .3rem 0;}
.media-article .title{font-size: .3rem;margin-bottom: .1rem;}
.media-article .info{margin-bottom: .1rem;font-size: 12px;}
.media-article .info .item{margin-right: .3rem;}
.media-article .body{line-height: .3rem;}
.media-article .body img{max-width: 100%;}

.media-slider{margin-bottom: .2rem;}
.media-slider .slides > li{background: #fff;}
.media-slider .slide-img{margin-right: 3.5rem;}
.media-slider .slide-text{position: absolute;width: 3.5rem;top: .9rem;right: 0;background:#fff;}
.media-slider .slide-text .inner{width: 2.6rem;margin: 0 auto;}
.media-slider .slide-img img{height: 4.5rem;}
.media-slider .slide-text h2{font-size: .26rem;text-align: center;}
.media-slider .slide-text .desc{margin-top: .2rem;height: 2rem;overflow: hidden;}
.media-slider .slide-text .foot{overflow: hidden;font-size: 12px;color: #999;}
.media-slider .slide-text .foot .view{float: right;}
.flexslider .flex-control-paging li a{box-shadow: 0 0 5px 2px rgba(0,0,0,.1);background: #fff;}
.flexslider .flex-control-paging li a.flex-active{background: #ff0000;}
/*品牌文化*/
.content-slider-brand{background-image: url(../images/brand-bg.jpg)}
.content-slider-brand .text{position: absolute;top: 40%;left: 20%;}
.section-brand{padding: .7rem 0;}
.brand-title{font-size: .22rem;margin-bottom: .3rem;}
.brand-title h2{font-size: .22rem;}
.brand-title .gray{color: #a6a2a2;}
.section-brand-story{text-align: center;margin-bottom: .4rem;margin:0 .7rem;}
.section-brand-story .content{margin-bottom: .3rem;}
.section-brand-story .storys{position: relative;overflow: hidden;}
.section-brand-story .storys li{float: left;overflow: hidden;}
.section-brand-story .storys li img{width: 100%;}
.section-brand-story .storys li.s-1{width: 3.5rem;}
.section-brand-story .storys li.s-2{width: 7.5rem;margin-left: .2rem;margin-bottom: .2rem;}
.section-brand-story .storys li.s-3{width: 3.6rem;margin-left: .2rem;}
.section-brand-story .storys li.s-4{width: 3.6rem;margin-left: .2rem;}
.section-brand-list{margin:0 .7rem;}
.section-brand-list .item{overflow: hidden;margin-top: 1rem;}
.section-brand-list .item .img{float: left;width: 50%;}
.section-brand-list .item .img img{max-width: 100%;}
.section-brand-list .item .det{width: 50%;float: left;}
.section-brand-list .item .det .brand-title{margin-left: .2rem;margin-top: .3rem;}
.section-brand-list .item .det .desc{margin-left: .2rem;color: #fff;background: #818586;padding: .3rem 1rem .3rem .3rem;}
.section-brand-list .item:nth-child(even) .img{float: right;}
.section-brand-list .item:nth-child(even) .det{float: left;}
.section-brand-list .item:nth-child(even) .det .brand-title{margin-left: auto;margin-right: .2rem;text-align: right;}
.section-brand-list .item:nth-child(even) .det .desc{margin-left: auto;margin-right: .2rem;padding: .3rem .3rem .3rem 1rem;}
.section-brand-engineer{margin: .6rem auto;text-align: center;}
.section-brand-engineer li{display: inline-block;margin: 0 .1rem;overflow: hidden;}
.section-brand-engineer li .img{}
.section-brand-engineer li .img img{width: 100%;}
.section-brand-engineer li .det{background: #dcdcdc;padding: .2rem 0;text-align: center;}
.section-brand-engineer li .det .name b{font-size: .18rem;margin-right: .1rem;}

/*关于我们*/
.content-slider-about{background-image: url(../images/about-bg.jpg);}
.content-slider .wraper{height: 4rem;}
.section-about{padding: .5rem 0;}
.about-item{margin-left: 1.4rem;position: relative;margin-bottom: .8rem;}
.about-item .num{position: absolute;right: 100%;margin-right: .2rem;}
.about-item .title{font-size: .3rem;margin-bottom: .2rem;}
.ico-number-1{width: 1em;height: 1em;display: inline-block;font-size: .8rem;background: url(../images/ico-number-1.png) no-repeat;background-size: 100% 100%;}
.ico-number-2{width: 1em;height: 1em;display: inline-block;font-size: .8rem;background: url(../images/ico-number-2.png) no-repeat;background-size: 100% 100%;}
.about-desc{position: relative;padding-right: 6rem;min-height: 3.6rem;font-size: .18rem;}
.about-desc .video-area{position: absolute;width: 5.8rem;height: 3.4rem;background: #585555;right: 0;top: 0;}
.about-desc .video-area .btn-play{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.ico-play{width: 1em;height: 1em;display: inline-block;background: url(../images/ico-play.png);font-size: .7rem;background-size: 100% 100%;}
.about-slogan{overflow: hidden;margin-top: .4rem;}
.about-slogan .item{width: 50%;float: left;margin-bottom: .2rem;}
.about-slogan .item h3{font-size: .3rem;}
.about-slogan .item p{margin-left: .1rem;font-size: .18rem;}
.about-history{}
.about-history-wraper:after{content: "";display: block;clear: both;}
.about-history-wraper dl{width: 50%;float: left;}
.about-history-wraper dt{font-size: .25rem;margin-bottom: .1rem;}
.about-history-wraper dd{padding-left: .3rem;padding-bottom: .3rem;border-left: 1px solid #c3c3c3;position: relative;}
.about-history-wraper dd:before{content: "";display: block;width: .16rem;height: .16rem;border-radius: 50%;background: #fff;border: 3px solid #a0a0a0;position: absolute;left: -.12rem;top: 0;}
.about-history-wraper dd h3{font-size: .25rem;color: #b2afaf;line-height: 1.1;}
.about-history-wraper dd p{}
.about-history-wraper dd.active h3{color: #ff0000;}
.about-history-wraper dd.active:before{border-color: #ff0000;}
.about-history-wraper dd:last-child{border-left:0;}

/*视频资源*/
.video-list{margin: 0 .7rem;}
.video-list .item{padding: .2rem 0;overflow: hidden;}
.video-list .img{float: right;background: #e5e5e5;width: 4.2rem;height: 2.8rem;position: relative;}
.video-list .img .btn-play{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.video-list .det{margin-right: 5rem;}
.video-list .det .title{font-size: .18rem;margin-bottom: .2rem;}
.video-list .det .desc{height: 2rem;overflow: hidden;color: #676464;line-height: .25rem;}
.video-list .det .foot{text-align: right;}
.video-list .det .foot .btn{color: #999;margin-left: .2rem;}
.video-list .det .foot .btn i{margin-right: 3px;}

.image-navs{padding: .3rem 0;}
.image-navs a{margin-right: .3rem;}
.image-navs a.active{color: #ff0000;}
.image-list{overflow: hidden;margin-left: -10px;margin-right: -10px;}
.image-list li{width: 25%;float: left;padding-bottom: 16.47%;position: relative;}
.image-list li .inner{position: absolute;left: 10px;top: 10px;right: 10px;bottom:10px;overflow: hidden;}
.image-list li .inner img{width: 100%;height: 100%;}

/*专利证书*/
.content-slider-patent{background-image: url(../images/patent-bg.jpg);}
.patent-list{margin: .5rem 0;text-align: center;}
.patent-list li{display: inline-block;margin: 0 .1rem;width: 2.5rem;margin-bottom: .3rem;vertical-align: top;}
.patent-list li .img{border: 4px solid #9edbf2;height: 3.5rem;overflow: hidden;}
.patent-list li .img img{width: 100%;}
.patent-list li .det{padding-top: .1rem;}
.patent-list li .time{font-size: 12px;color: #999;}

/*线下体验*/
.content-slider-offline{background-image: url(../images/offline/offline-bg.jpg);}
.section-offline{margin: .5rem 0;}
.offline-list{text-align: center;}
.offline-list li{display: inline-block;margin: 0 .05rem;width: 3.8rem;margin-bottom: .3rem;vertical-align: top;border: 4px solid #eeeeee;}
.offline-list li .img{border-bottom: 4px solid #eeeeee;height: 3.38rem;overflow: hidden;}
.offline-list li .det{padding: .1rem 0;}
.offline-list li .address{font-size: 12px;color: #999;}
.offline-map{margin-bottom: .3rem;}
.offline-title{background: url(../images/flag-bg.jpg);background-size: cover;color: #fff;font-size: .25rem;font-weight: bold;padding: 0 .1rem;margin-bottom: .2rem;line-height: .6rem;}

.offline-map img{max-width: 100%;}

.content-slider-join{background-image: url(../images/join-bg.jpg);}
.content-slider-join .text{padding-top: .3rem}
.content-slider-join .text h3{color: #fff;}
.content-slider-join .text h4{color: #f88585;}

.section-join{padding: .5rem 0;}
.section-join .wraper{width: 9.8rem;min-height: 6rem;}
.join-left{width: 3.6rem;float: left}
.join-right{width: 5.8rem;float: left;margin-left: .3rem;}
.section-join .title{font-size: .2rem;}
.job-tips{line-height: 30px;color: #9d9a9a;background: #f4f0f0;padding: .3rem;}
.job-search-form{margin-top: .2rem;}
.job-search-form .row{margin-bottom: .1rem;}
.job-search-form .row:after{content: "";display: block;clear: both;}
.job-search-form .text{width: 98%;border: 1px solid #ddd;line-height: 36px;height: 36px;padding: 0 1%;outline: none;}
.job-search-form .text:focus{border-color: #f88585;}
.job-search-form .item-category{width: 49%;}
.job-search-form .item-city{width: 49%;float: right;}
.join-table{width: 100%;border-collapse: collapse;}
.join-table td{line-height: 40px;border-collapse: collapse;}
.join-table thead td{font-size: .2rem;font-weight: bold;}
.join-table tbody td{border-bottom: 1px solid #ddd;}