@charset "utf-8";
body, html, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, th, td, form, object, iframe, blockquote, pre, a, abbr, address, code, img, fieldset, form, label, figure { margin:0; padding:0; }
body, html, input, button, textarea { color:#474747; font:14px/1 "Microsoft YaHei", Arial, simsun, Tahoma, Verdana, Helvetica, sans-serif; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display:block; }
body { _background-image:url(about:blank); _background-attachment:fixed; }
img { border:none; }
li { list-style:none; }
i, em { font-style:normal; }
i{width: 1em;height: 1em;display: inline-block;background-repeat: no-repeat;background-size: 100% 100%;}
a { color:#6d6d6d; text-decoration:none; cursor:pointer; -webkit-transition: color,background .2s;transition: color,background .2s;}
a:focus { outline:none; }
a:hover { color:#15894b; text-decoration:none; }
input[type="text"]:focus ,select,textarea{ outline:none; }
input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;padding:0;}
.btn:active{box-shadow: 3px 3px 10px rgba(0,0,0,.2) inset;}
::-webkit-input-placeholder { color:    #e1e1e1;}
:-moz-placeholder { color:    #e1e1e1;}
::-moz-placeholder {color:    #e1e1e1;}
:-ms-input-placeholder {color:    #e1e1e1;}

/* 清除浮动 */
.clearfix:after, .layout:after, .header:after,.navbar:after, .navbar .nav:after, .main-tit-bar:after, .wraper:after { content:""; display:block; height:0; clear:both; visibility:hidden; }
/* 布局 */
.layout,.wraper{ width:1200px; margin:0 auto;min-width:1200px; }


.color-green{color:#28ad38;}
/* -------------------------------- 
 * 页头 
 * -------------------------------- */
.header{background:#fff; position: relative;z-index: 99;}
.header-top .wraper{overflow:hidden;padding: 20px 0;}
.header .logo{float:left;height: 80px;}
.header .logo img{height:100%;}

.navbar{background:#15894b;}
.navbar li{float:left;}
.navbar li a{display:block;height:44px;line-height:44px;padding:0 40px;color:#fff;}
.navbar li.active a{color:#ffe721;background-color:#00703f;}
.navbar li a:hover{color:#ffe721;background-color:rgba(0,0,0,.1);}

.topright{float: right;padding-top: 20px;}
.topright .search{overflow: hidden;float:left;}
.topright .search .txt{float:left;height: 40px;line-height: 40px;width: 400px;padding: 0 10px;border:1px solid #bdbdbd;}
.topright .search .btn{float:left;height: 40px;line-height: 40px;background:#15894b;padding:0 30px;border:1px solid #15894b;color:#fff;}
.topright .search .btn:hover{opacity: .9;}
.topright .search .txt:focus{border-color:#15894b;}

.topright .tel{float:left;margin-left: 40px;}
.topright .tel h3{font-size: 20px;color:#15894b;line-height: 1;margin-bottom: 5px;}
.topright .tel h3 i{background-image: url(../images/ico-tel.png);font-size:21px;margin-right:6px;background-color: #15894b;border-radius: 50%; vertical-align: middle;}
.topright .tel h3 b{vertical-align: middle;}
.topright .tel p{font-size: 12px;color:#999;}

.btnnav{font-size:1.5rem;width: 1em;height: 1em;display: block;position: absolute;z-index:20;display:none;right: 0;top: 50%;border-radius:3px;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.btnnav b{width: 80%;height: 3px;background: #15894b;position: absolute;top: 50%;margin-top: -1px;left: 10%;border-radius: 1px;}
.btnnav b:before,.btnnav b:after{content: "";width: 100%;height: 3px;background: #15894b;display:block;position: absolute;top: -6px;border-radius: 1px;transform-origin: center center;transition: all .2s;-webkit-transition: all .2s;}
.btnnav b:after{top: 6px;}
.header.active .btnnav{background: #eee;}
.header.active .btnnav b{background: none;}
.header.active .btnnav b:before{top:50%;transform: rotate(45deg);-webkit-transform: rotate(45deg);margin-top: -2px;}
.header.active .btnnav b:after{top:50%;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);margin-top: -2px;}
/* 导航条 */

/* -------------------------------- 
 * 页底 
 * -------------------------------- */
.footer { background:#fff;}
.footer-navs{background-image:url(../images/footer-bg.png); background-size:cover;background-position: center center;padding: 40px 0 50px;color:#fff;}
.footer-navs .nav{float: left;}
.footer-navs .nav li{padding: 0 60px;border-right:2px solid #0c140e;border-left:2px solid #030803;float:left;}
.footer-navs .nav li a{color:#fff;font-size: 16px;}
.footer-navs .nav li a:hover{color:#15894b;}
.footer-navs .nav li .tit{margin-bottom: 25px;font-size: 18px;font-weight: normal;}
.footer-navs .nav li dd{margin-bottom: 20px;}
.footer .qrcode{float: right;}
.footer .qrcode dd{float: left;margin-left: 10px;background: #fff;text-align: center;}
.footer .qrcode img{vertical-align: top;}
.footer .qrcode span{display: block;background:#6a6a6a;color:#fff;padding: 10px;}

.footer-infos{text-align: center;padding: 25px 0;color:#999;line-height: 24px;}

/*大图*/
.flexslider{border:0; margin:0;   overflow: hidden; position: relative;}
.flex-direction-nav a:before{line-height:40px;}
.slid-item{width:100%;overflow:hidden;position:relative;}
.slid-img{width:4000px;position:relative;left:50%;margin-left:-2000px;text-align:center;}
.flexslider .slides img{width:auto;display:inline-block;vertical-align:top;height:660px;}
.flex-control-nav{bottom:15px;z-index:10;}
.flex-control-paging li a{background:#fff;opacity:.6;filter:Alpha(opacity=50);}
.flex-control-paging li a.flex-active{background:#28ad38;opacity:.8;}

.ireg-box{width:400px;position:absolute;top:0;right:0;background:url(../images/opacity-black.png);z-index:50;left:50%;top:70px;padding:35px 0;margin-left: 200px;color:#fff;}
.ireg-box h4{font-size:18px;line-height:18px;text-align:center;font-weight:normal;margin:10px 0 ;    letter-spacing: 5px;}
.ireg-box .l{height:9px;background:url(../images/reg-tit-line.png) center no-repeat;margin:0 0 15px 0;}
.ireg-form{margin:0 25px;}
.ireg-form li{margin-bottom:15px;overflow: hidden;}
.ireg-form li .ll{float: left;width: 48%;}
.ireg-form li .lr{float: right;width: 48%;}
.ireg-form .text{height: 36px;line-height: 36px;border:1px solid transparent;padding:0 5%;width:90%;background: #dddddd;}
.ireg-form .text:focus{border-color:#15894b;}
.ireg-form li label{font-size: 14px;margin-bottom: 10px;line-height:1.2;display: block;}
.ireg-form select{height:48px;line-height:48px;border:1px solid #ddd;border-radius:20px;padding:0 15px;width:136px;font-size:16px;outline:none;}
.ireg-form .btn{display:block;height:38px;line-height:38px;text-align:center;background:#15894b;color:#fff;border-radius: 3px;margin-top: 20px;}
.ireg-form .btn:hover{opacity: .9;}
.ireg-box .tip{text-align:center;font-size:14px;}
.ireg-box.active{}

/* 返回顶部 */
.gotop { display:none; width:55px; height:55px; text-align:center; color:#fff; font-size:12px; background:#bbb url(../images/go-top.png) center center no-repeat; position:fixed; right:10px; bottom:70px; z-index:9999; line-height:1.3em; cursor:pointer; _position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
_margin-bottom:10px; _background:url(../images/go-top-ie.png) 0 0 no-repeat; }
.gotop:hover { background-color:#28ad38; _background:url(../images/go-top-ie.png) 0 -55px no-repeat; }

/*fix ie*/
.flex-control-nav li{*display:inline;}
.flex-direction-nav{*position:absolute;}



.main-tit-bar{text-align: center;margin-bottom: 60px;}
.main-tit-bar .title{font-size: 42px;color:#15894b;line-height: 1;font-weight: normal;margin-bottom: 20px;}
.main-tit-bar .title span{display: inline-block;vertical-align: top;padding-bottom: 20px;border-bottom: 1px solid #ddd;position: relative;}
.main-tit-bar .title span:after{content: "";display: block;position: absolute;width: 60px;height: 6px;background: #15894b;left: 50%;margin-left: -30px;bottom:-5px;}
.main-tit-bar .title-en{font-size: 24px;color:#8c8c8c;line-height: 1;font-weight: normal;}
.main-tit-bar .desc{font-size: 20px;color:#666666;margin-top: 20px;    line-height: 1.2;}

/* 三大教育体系 */
.tx-section{padding: 60px 0;background-color:#ebeae8;}
.tx-list{width: 810px;float: left;}
.tx-list li{width: 50%;float: left;height: 260px;background:#fff; position: relative;}
.tx-list .item-1{z-index: 10;background:none;}
.tx-list .item-1 img{ position: absolute;left: -60px;top:-180px; }
.tx-list .item-3{background:url(../images/sys-bg-1.png) center center no-repeat;background-size: cover;}
.site-sys.white ,.site-sys.white h3,.site-sys.white .btn{color: #fff;}
.tx-list .item-4{background:url(../images/sys-bg-2.png) center center no-repeat;background-size: cover;}

.site-sys{padding-top:40px;text-align: center;color:#474747;}
.site-sys h3{font-size: 30px;color:#d86174;}
.site-sys h4{font-size: 30px;margin-top: 10px;font-weight: normal;}
.site-sys .desc{font-size: 14px;margin-top: 15px;line-height: 20px;}
.site-sys .btn{height: 30px;line-height: 30px;border:1px solid #c7c7c7;border-radius:30px;display:inline-block;padding:0 30px;font-size: 12px;color:#15894b;margin-top: 20px;}

.tx-spe{float:left;width: 390px;background: url(../images/sys-bg-3.png) center center no-repeat;background-size: cover;padding: 160px 0 50px;}

/**/
.xb-section{height: 360px;background: url(../images/xueba-bg.png) center no-repeat; background-size: cover;}
.xb-section .tit{margin-top: 180px;display: inline-block;padding:20px;background:rgba(70, 75, 67, .7);color:#fff;}
.xb-section .tit h3{font-size: 48px;margin-bottom: 15px;font-weight: normal;}
.xb-section .tit p{font-size: 22px;}

/* 师资环境 */
.sz-section{padding: 50px 0 610px; background: url(../images/hj-bg.png) center bottom no-repeat;background-size: cover;}
.sz-list{overflow: hidden;}
.sz-list li{width: 25%;float: left;background:#fff;height: 230px;text-align: center;}
.sz-list li img{vertical-align: top;width: 100%;height: 100%;}
.sz-list li .txt{padding-top: 80px;font-size: 14px;line-height: 20px;}
.sz-list li .txt h3{font-size: 22px;font-weight: normal;margin-bottom: 10px;}

/* 新闻 */
.news-section{padding: 60px 0;}
.in-news{ overflow: hidden; }
.in-news .img{width: 580px;min-height:430px;float:left;background-color:#eee;}
.in-news .img img{width: 100%;}
.in-news ul{width: 620px;float:left;}
.in-news ul li{position: relative;}
.in-news ul li a{display: block;padding:20px 30px; }
.in-news ul li .tit{font-size: 20px;margin-bottom: 10px;display: block;}
.in-news ul li .desc{line-height: 22px;height:44px;overflow: hidden;}
.in-news ul li img{display: none;}
.in-news ul li.active{margin-left: -20px;}
.in-news ul li.active a{padding-left:50px;color:#fff;background: #15894b;}
.in-news ul li.active:before{content:"";display: block;width: 0;height: 0;position: absolute;right:100%;top:50%;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-right:10px solid #15894b;margin-top: -10px;}

/* 联系 */
.contact-section{padding: 60px 0;}
.big-tel{font-size: 74px;margin-bottom: 30px;text-align: center;}
.ico-bigtel{background-image:url(../images/ico-tel-1.png);font-size: 56px; }
.contact-list{ text-align: center; }
.contact-list li{width: 200px;height: 200px;display: inline-block;margin:0 15px;text-align: center;border-radius: 50%;background:#15894b;color:#fff;}
.contact-list li{*display: inline;}
.contact-list li .img{padding-top: 40px;margin-bottom: 20px;}
.contact-list li i{font-size:64px;background-size:100% auto;background-image: url(../images/sprits-contact.png);}
.ico-con-1{background-position: 0 0;}
.ico-con-2{background-position: 0 -1.5em;}
.ico-con-3{background-position: 0 -3em;}
.ico-con-4{background-position: 0 -4.5em;}
.tf-img{margin-top: 60px;text-align: center;}


/* 关于 */
.slider-section{}
.slider-section img{width: 100%;}
.ab-section{padding: 40px 0;}
.about-txt{font-size: 16px;color:#303133;line-height: 40px;}
.ab-list{margin: 150px 0 60px 0; overflow: hidden;}
.ab-list li{width: 50%;float: left;margin-bottom: 80px;}
.ab-list li .tit{font-size: 26px;color:#15894b;font-weight: normal;margin-bottom: 40px;}
.ab-list li .tit i{font-size:40px;margin-right:15px;vertical-align:middle;background-image: url(../images/sprits-40x40.png);background-size: 100% auto;}
.ab-list li .tit span{vertical-align: middle;}
.ico-ab-1{background-position: 0 0;}
.ico-ab-2{background-position: 0 -1.5em;}
.ico-ab-3{background-position: 0 -3em;}
.ab-list li .desc{font-size:14px;color:#2d2d2d;line-height: 28px;padding-left:20px;}

/* 海外留学服务 */
.lx-section{padding: 50px 0 30px;}
.liuxue-box{background: #fff;box-shadow: 0 0 30px rgba(0,0,0,.15); overflow: hidden;}
.liuxue-box .img{float: right;width: 480px;}
.liuxue-box .img img{width: 100%;vertical-align: top;}
.liuxue-box .det{float: left;width: 720px;}
.liuxue-box .det .tit{padding: 50px 0 30px;font-size: 24px;color: #d96073; text-align: center;}
.liuxue-box .det .desc{font-size: 16px;color: #666666; line-height: 40px;padding:0 20px;}

.ad-section{ text-align: center;margin-bottom: 30px; }
.ad-section img{vertical-align: top;max-width: 100%;}
.gj-section{margin-bottom: 30px;}
.gj-section .wraper{background: #fff;box-shadow: 0 0 30px rgba(0,0,0,.15); overflow: hidden;border-top:1px solid #32cc79;}
.gj-section .tabs{width: 160px;float: left; background: #32cc79;}
.gj-section .tabs-con{margin-left: 160px;}
.gj-section .tabs li a{display: block;width: 160px;padding: 20px 0;border-bottom:1px solid #2bae67;color:#fff;font-size: 20px; text-align: center;}
.gj-section .tabs li.active a,.gj-section .tabs li.active a:hover{background: #fff;color:#32cc79;border-left:1px solid #32cc79;}
.gj-section .tabs li a:hover{background:rgba(0,0,0,.1);}
.tabs-panel{display: none;}
.tabs-panel.active{display: block;}
.gj-section .art-list{overflow: hidden;width: 660px;float: left;}
.gj-section .art-list li{width: 50%;float: left;}
.gj-section .art-list li a{margin-left: 40px;}
.gj-section .hotnews{float: left;width: 380px;padding-top: 10px;}
.gj-section .tabs-panel{padding: 10px 0; overflow: hidden;}
.gj-section .hotnews .art-list{width: auto;}
.gj-section .hotnews .art-list li{float: none;width: auto;}
.gj-section .hotnews .art-list li a:before{content:"";display: inline-block;width: 5px;height: 5px;    vertical-align: middle;border-radius:50%;background:#32cc79;margin-right: 10px;}
.gj-section .hotnews .tit{padding: 0 40px;}

.art-list{}
.art-list li{height: 40px;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.art-list li a{font-size: 16px;color:#333;}
.art-list li a:hover{color:#15894b;}
.hotnews .tit{font-size: 20px;color:#32cc79;font-weight: normal;}
.hotnews .tit span{display: inline-block;padding-bottom: 10px;border-bottom: 2px solid #32cc79;}
.process-section{}
.process-section .wraper{background: #fff;box-shadow: 0 0 30px rgba(0,0,0,.15); overflow: hidden;border-top:1px solid #32cc79;}
.process-list{font-size: 0;padding-top: 25px;}
.process-list li{ display: inline-block;font-size: 26px;line-height:40px;color:#19a95b;margin-bottom: 25px; width: 52px;padding: 10px 30px;vertical-align: top;}
.process-list li{*display: inline;}
.process-list li.tit{}
.process-list li.arrow{width: 30px;height:100px;padding:0; position: relative;}
.process-list li.arrow i{background-image: url(../images/sprits-30x30.png);background-size:100% auto;background-position: 0 -4.5em;font-size: 30px; position: absolute;top: 50%;left: 50%;margin-top: -.5em;margin-left: -.5em;}
.process-list li.item{background:#32cc79;color:#fff;padding-left: 35px;padding-right: 35px;}
.process-list li.t3{width: 78px;}

/* 面包屑导航 */
.breadcrumb{margin:20px 0 30px;font-size: 16px;}
.breadcrumb .green{color:#15894b;}

/* 课程详情 */
.kecheng-section{}
.kecheng-section .title{font-size: 32px;color: #15894b;font-weight: normal;margin-bottom: 25px;}
.kecheng-section .btns{margin-bottom: 40px;}
.kecheng-section .btns .btn{display: inline-block;height: 40px;line-height: 40px;font-size: 22px;color:#fff;background: #15894b;padding: 0 25px;border-radius: 5px;}
.kecheng-section .btns .btn:hover{opacity: .9;}
.kc-detail{}
.kc-detail li{font-size: 16px;color: #666666;line-height: 40px; overflow: hidden;}
.kc-detail li:after{content:"";display: block;clear: both;}
.kc-detail label{float: left;color:#000;}
.kc-detail .txt{margin-left: 80px;}
.kc-detail .orange{color:#ff8a00;}
.kc-line{height: 1px;background:#ddd;margin: 20px 0 40px;}
.kc-navs{background: #eee;line-height: 45px;margin-bottom: 10px;}
.kc-navs em{font-size: 22px;color:#15894b;display: inline-block;padding:0 20px;border-top:2px solid #15894b;}


/* 文章详情 */
.art-title{font-size: 36px;color:#000;text-align: center;margin-bottom: 30px;}
.art-infos{padding: 10px 0;text-align: center;border-top:1px solid #15894b;border-bottom:1px solid #15894b;color: #666;font-size: 16px;margin-bottom: 25px;}
.art-infos .item{margin:0 25px;}
.art-infos .item i,.art-infos .item em{vertical-align: middle;}
.art-infos .item i{background-image: url(../images/sprits-20x20.png);background-size: 100% auto;margin-right: 5px;}
.ico-user{background-position: 0 0;}
.ico-clock{background-position: 0 -1.5em;}
.art-body{font-size: 18px;color:#666;line-height: 48px;margin-bottom: 80px;}
.art-body .img{text-align: center;margin:20px 0;}

/* 动态 */
.news-box{border: 1px solid #15894b;margin-bottom: 40px;}
.news-box .tit-bar{line-height: 44px;background: #15894b;color: #fff;}
.news-box .tit-bar .more{float: right;color:#fff;padding:0 15px;}
.news-box .tit-bar .more:hover{background:rgba(0,0,0,.1);}
.news-box .tit-bar .title{font-size: 26px;font-weight: normal;text-align: center;}
.news-box .news-list{padding: 10px 0;}
.news-list{}
.news-list li{height: 48px;line-height: 48px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 20px;padding:0 20px;}
.news-list li:hover{background: #f4f4f4;}
.news-list li a{color:#333;}
.news-list li a:hover{color:#15894b;}
.news-list li .info{float: right;color:#999;}
.news-list li .info .name{margin-right: 50px;}

/* 大图轮播 */
.owl-carousel{position:relative;display:none;z-index:1;display:none;}
.owl-loaded{display:block;}
.owl-loaded .slide-item{display:block!important;}
.owl-carousel .owl-item{float:left;min-height:1px;position:relative;overflow:hidden;}
.owl-carousel .owl-stage-outer{width:100%;overflow:hidden;position:relative;-webkit-transform:translate3d(0px,0,0);}
.owl-carousel .owl-controls{height:0;overflow:visible;}
.owl-stage{position:relative;}
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.owl-carousel .owl-wrapper-outer{width:100%;overflow:hidden;position:relative;-webkit-transform:translate3d(0px,0,0);}
.owl-prev,.owl-next{text-indent:-9999px;overflow:hidden;cursor:pointer;}

/* 明星学员 */
.mx-section{padding: 60px 0;}
.star-slider{ width: 900px;margin:0 auto 60px; text-align: center;}
.star-slider .item{display: inline-block;line-height: 55px;padding:0 20px;border-radius: 3px;background:#dadada;font-size: 24px;color:#141515;}
.star-slider .owl-stage-outer{width: auto;}
.star-slider .owl-prev,.star-slider .owl-next{width: 29px;height: 66px;display: block;position: absolute;top: 50%;margin-top:-33px;left:-100px;background: url(../images/turns.png) 0 0 no-repeat;background-size: 100% auto;}
.star-slider .owl-next{background-position: 0 -66px;left:auto;right: -100px;}

.star-list{ overflow: hidden;width: 105%; }
.star-list li{width: 215px;float: left;margin:0 30px 60px 0;}
.star-list li .img{overflow: hidden;height: 290px;}
.star-list li .img img{vertical-align: top;width: 100%;}
.star-list li .det{padding: 15px 10px;font-size: 18px;color:#000; text-align: center;}
.star-list li .det .tit{margin-bottom: 10px;font-weight: normal;font-size: 18px;}
.star-list li p{color:#999;}
.star-list li .green{color:#15894b;margin-left: 5px;}


/* 明星教师 */
.mxjs-section{padding: 60px 0;}
.teacher-slider{}
.teacher-slider .img{width: 235px;height: 235px;border: 4px solid #15894b;border-radius:50%;overflow: hidden;}
.teacher-slider .img img{width: 100%;}
.teacher-slider .det{background: #15894b;padding: 100px 30px 30px 30px;margin-top: -70px;color:#fff;font-size: 18px;line-height: 30px;}
.teacher-slider .det .tit{text-align: center;}