.ma.mask-div{
	display: none;
	position: fixed;
	overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    background-color: #333;
    width: 100%;
    height: 100%;
    opacity:0.4;
	filter:alpha(opacity=40);
}
/* ----------------------------------------------------- pupdiv 寮瑰嚭妗�------------------------------------------------ */
.ma.popdiv{
	display: none;
	position: fixed;
	top: 0;
    left: 0;
	z-index: 1051;
	border: 1px solid #ccc;
	background-color: #fff;
}
.ma.popdiv .close-btn{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 5px 10px 0 0;
	font-size: 22px;
	cursor: pointer;
	color: #ccc;
}
.ma.popdiv .close-btn:hover{
	color: #333;
}
/* ----------------------------------------------------- /pupdiv 寮瑰嚭妗�------------------------------------------------ */

/* ----------------------------------------------------- alert 寮瑰嚭妗�-------------------------------------------------- */
.ma.alert{
	display: none;
	position: fixed;
	top: 0;
    left: 0;
	z-index: 1051;
	border: 1px solid #ccc;
	background-color: #fff;
	width: 300px;
	height: 150px;
	padding: 20px 20px;
	margin: 0;
}
.ma.alert .content{
  height: 80px;
  padding: 20px 0 0 20px;
}
.ma.alert .btn-bar{
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
}
.ma.alert .btn-bar .close-btn, 
.ma.alert .btn-bar .cancel-btn, 
.ma.alert .btn-bar .ok-btn{
	background: #0099CC;
	color: #fff;
	float: right;
	width: 50px;
	height: 30px;
	line-height: 30px; 
	text-align: center;
	cursor: pointer;
	margin: 0 0 0 10px;
}

.ma.alert .btn-bar .cancel-btn{
	background: #ddd;
	color: #000;
}
/* ----------------------------------------------------- alert 寮瑰嚭妗�-------------------------------------------------- */

/* -----------------------------------------------------  鏁版嵁琛ㄦ牸 -------------------------------------------------- */
.ma .data-query a.query-title{
	color: #999;
}
.ma .datatable-panel{
	margin: 20px 0 0 0;
	background-color: #fff;
	padding: 10px;
	/**box-shadow: 0 2px 25px rgba(0,0,0,.2)!important;*/
}
.ma .table-footer{
	
}
.ma .table-footer .btn-bar{
	display: inline-block;
	padding: 20px 0;
}
.ma .my-pagination{
	padding: 20px 0;
	float: right;
	margin: 0;
}
.ma .my-pagination .item{
	float: left;
	padding: 10px 15px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.ma .my-pagination .item:last-child{
	border-right: 1px solid #ddd;
}
.ma .my-pagination .item.disabled{
	background-color: #eee;
	cursor: not-allowed;
}
.ma .my-pagination .item.disabled a{
	color: #aaa;
	cursor: not-allowed;
}
.ma .my-pagination .item.active{
	background-color: #5bc0de;
}
.ma .my-pagination .item.active a{
	color: #fff;
}
.ma .my-pagination .item a{
	color: #444;
}
/* ----------------------------------------------------- /鏁版嵁琛ㄦ牸 -------------------------------------------------- */

/** --------------------------------------------- 涓嬫媺閫夋嫨 dropmenu ------------------------------------------------ */
.ma.dropmenu {
  border: 1px solid #cacaca;
  position: relative;
  padding: 14px 32px 14px 14px;
  outline: none;
  line-height: 1em;
  cursor: pointer;
  width: 200px;
  min-width: 200px;
  display: inline-block;
}
.ma.dropmenu > .icon {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 14px;
  z-index: 3;
  right: 14px;
}
.ma.dropmenu > .text{
	height: 20px;
	line-height: 20px;
}
.ma.dropmenu > .menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  background: #fff;
  overflow-x: visible;
  overflow-y: visible;
  outline: none;
  z-index: 11;
  border: 1px solid #cacaca;
  border-top: 0px solid #cacaca;
}
.ma.dropmenu > .menu > .item {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  margin: 0;
  text-align: left;
  background: transparent !important;
  padding: 14px 36px 14px 14px;
  color: #000;
  text-decoration: none;
  line-height: 20px;
}
.ma.dropmenu > .menu > .item.active {
	color: #2D89EF;
}
.ma.dropmenu > .menu > .item.active > .menu {
  background-color: #fff !important;
  font-weight: normal !important;
}
.ma.dropmenu > .menu > .item:hover {
  cursor: pointer;
  color: #2D89EF;
  background-color: #eee !important;
}
.ma.dropmenu > .menu > .item > .menu {
  display: none;
  position: absolute;
  min-width: 100%;
  top: 0% !important;
  left: 100% !important;
  right: auto !important;
  margin: 0px 0px 0px -6px !important;
  z-index: 21 !important;
  border: 1px solid #cacaca;
  background-color: #fff;
}
.ma.dropmenu > .menu > .item > .menu .item {
  display: block;
  position: relative;
  margin: 0;
  text-align: left;
  padding: 14px 36px 14px 14px;
  background: transparent !important;
  color: #000;
  float: left;
  width: 100%;
  text-decoration: none;
}
.ma.dropmenu > .menu > .item > .icon {
  cursor: pointer;
  position: absolute;
  top: 0.9em;
  z-index: 3;
  right: 14px;
}
.ma.dropmenu > .menu > .item > .menu .item:hover {
  cursor: pointer;
  background-color: #ccc !important;
}
.ma.dropmenu > .menu > .item > .menu .item.active {
  font-weight: bold;
  background-color: #ccc !important;
}

.ma .datatable-panel{
	padding: 0px;
}
.ma .datatable-panel table td{
	vertical-align: middle; 
}

/** --------------------------------------------- /涓嬫媺閫夋嫨 dropmenu ------------------------------------------------ */

/** ------------------------------------------ file upload ------------------------------------------------------------- **/
.ma.upload-w{
	display: inline-block;
	width: auto;
}

.ma.upload-w .preview{
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 1px solid #ddd;	
	margin: 0 0 10px 0;
}
.ma.upload-w .preview img{
	width: 100%;
	height: 100%;
}
.ma .upload{
	position: relative;
	overflow: hidden;
	cursor: default;
	width: 300px;
}
.ma .upload input {
	opacity: 0;
	filter: alpha(opacity : 0);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 35px;
	border: none;
	cursor: pointer;
	width: 98px;
}
.ma .upload span.filename {
	padding: 0px 10px;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	display: none;
}
.ma .upload .up-sel-btn,.ma .upload .upload-btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 98px;
}
.ma .upload .up-sel-btn:hover, .ma .upload .upload-btn:hover{
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
/** ------------------------------------------ /file upload ------------------------------------------------------------- **/
