/* 公共 */
body{background: #f3f3f5;font-size: 18px;color:#535353;}

.checkbox{}
.checkbox input[type="checkbox"] + em{padding-left: 25px;display: inline-block;background: url(../img/web/checkbox.png) left top no-repeat;line-height: 20px;}
.checkbox label{padding-left: 0;}
.checkbox input[type="checkbox"]{ opacity: 0; }
.checkbox input[type="checkbox"]:checked + em{ background-image: url(../img/web/checkbox_a.png) }

/* 按钮 */
.btn-common,a.btn-common{height: 50px;line-height: 50px;background:#356dc2;font-size: 20px;color:#fff;padding:0 20px;border-radius:0;}
.btn-common:hover,a.btn-common:hover{color:#fff;opacity: .9;}





/* 左侧菜单 */
.sitbar{position: fixed;width: 240px;left: 0;top: 0;bottom:0;background: #487dcd;z-index: 99;}
.sitbar .logo{width: 100%;padding: 25px 0 20px; text-align: center;border-bottom: 2px solid #4377c8;}
.sitbar .menu{border-top:2px solid #5186d6;}
.sitbar .menu li{}
.sitbar .menu li a{padding: 25px 20px 25px 40px;display:block;color:#fff;font-size: 20px;position: relative;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.sitbar .menu li a:hover,.sitbar .menu li a.active,.sitbar .menu li .submenu a.active{background:rgba(0,0,0,.1);opacity:1;}
.sitbar .menu li a span{margin-left: 10px; vertical-align: middle;}
.sitbar .menu li .ico-menu{width: 1em;height: 1em;display: inline-block;background-image: url(../img/web/sprites-24x24.png);background-size: 100% auto; vertical-align: middle;}
.sitbar .menu li .ico-arrow{width: 1em;height: 1em;display: inline-block;background-image: url(../img/web/arrow_r_w.png);background-size:100% 100%; vertical-align: middle;position: absolute;right: 20px;top: 50%;margin-top: -.5em;}

.ico-menu-1{background-position: 0 0;}
.ico-menu-2{background-position: 0 -1.5em;}
.ico-menu-3{background-position: 0 -3em;}

.sitbar .submenu{background: #356dc2;}
.sitbar .menu li .submenu a{padding-left: 70px;opacity: .7;}


/* 头部 */
.header{height: 70px;background:#fff;position: fixed;top: 0;left: 240px;right: 0;border-bottom:1px solid #ebebed;z-index: 99;}
.header .welcome{float: left;padding: 15px 20px;}
.header .welcome .img{display:inline-block;width: 40px;height: 40px;border-radius:50%;overflow: hidden;vertical-align: middle;margin-right: 7px;}
.header .welcome .img img{width: 100%;height: 100%;}
.header .welcome .txt{font-size: 18px;color:#1c1c1c; display: inline-block;vertical-align: middle;}
.header .nav{float: right;}
.header .nav li{float: left;}
.header .nav li a{font-size:24px;padding:23px 18px;}
.header .nav i{font-size:24px;width: 1em;height: 1em;display: inline-block;background-image: url(../img/web/sprites-24x24.png);background-size: 100% auto;}
.ico-email{background-position: 0 -4.5em;}
.ico-set{background-position: 0 -6em;}
.ico-close{background-position: 0 -7.5em;}
.header .nav li .num{position: absolute;min-width:18px;height: 18px;line-height: 18px;color:#fff;background:#fe8b21;border-radius:20px;text-align: center;font-size: 12px;top: 10px;right:0;}

/*主体*/
.m_content{padding: 90px 20px 20px 260px;}
.tit-bar{margin-bottom: 20px;}
.tit-bar:after{content: "";display: block;clear: both;}
.tit-bar .title{font-size: 20px;}
.tit-bar .btn{float: right;}
.filter-wraper{background:#fff;padding: 20px 15px 0 15px; position: relative;margin-bottom: 40px;}
.filter-wraper .form-inline .form-group{margin:0 60px 20px 0;}
.filter-wraper .btn{float: right; position: absolute;right:20px;bottom:20px;}
.filter-wraper label{font-weight: normal;}

.table-container{background: #fff;padding: 10px 0 0 40px;}
.table-container table thead tr td{color:#356dc2;font-size: 22px;}
.table-container table tr td{padding: 25px 10px;text-align: center;line-height: 30px;}
.table-container .uimg{width: 40px;height: 40px;border-radius:50%;overflow: hidden;vertical-align: middle;display: inline-block;margin-right: 10px;}
.table-container .uimg img{width: 100%;height: 100%;}
.table-container .uname{vertical-align: middle;}

/* 登录 */
.login_bg{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: -1;background: url(../img/web/login_bg.png) center bottom no-repeat;background-size: cover;}
.login_container{position: absolute;z-index:10;top: 50%;left: 50%;width: 360px;margin-left:-180px;margin-top: -400px;}
.login_container .logo{margin-bottom: 20px;text-align: center;}
.login_container .sublogo{margin-bottom: 20px;text-align: center;}
.login_box{background: #fff;border:1px solid #a0b1c4;padding: 45px 30px 20px 30px;font-size: 12px;font-family: "宋体"}
.login_box .form_line{margin-bottom: 12px;}
.login_box .form-control{border-radius: 0;border:1px solid #a0b1c4;background:none;box-shadow:none;}
.login_box .checkbox{margin:20px 0;}
.login_box .checkbox input[type="checkbox"]{margin-top:0;}
.login_box .btn_login{display: block;background: #47b0f4;color:#fff; text-align: center;font-size: 16px;border-radius:0;}
.login_box .btn_login:hover{opacity: .9;}
.login_box .msg{color: red;border:1px solid red;padding:10px;}
.login_box .links{margin-top: 40px;text-align: right;}
.login_box .links a{color:#47b0f4;}
.login_box .links a:hover{text-decoration: underline;}

.login_box_fast{text-align: center;}
.login_box_fast .tit{font-size: 20px;margin-bottom: 15px;}
.login_box_fast .txt{font-size: 16px;color:#666;}
.login_box_fast .login_styles{text-align: center;padding: 50px 0;}
.login_box_fast .login_styles li{display: inline-block;margin:0 25px;}
.ico_wechat,.ico_qq{font-size:80px;width: 1em;height: 1em;display: inline-block;background-image: url(../img/web/sprites-shares.png);background-size: 100% auto;}
.ico_qq{background-position: 0 -1.5em;}
.login_box_fast .links{text-align: center;margin-top: 0;}

.fast_qrcode .qtit{font-size: 14px;font-weight: bold;color:#000;margin-bottom: 15px;}
.fast_qrcode .img img{border:1px solid #d1d1d1;padding: 6px;display: inline-block;}
.fast_qrcode .tip{line-height: 30px;display: inline-block;padding: 0 10px;background:#f1f1f1;color:#808080;font-size: 12px;margin: 10px 0 40px;border-radius: 10px;}

/* 快递管理 */
.down-title{padding: 10px 0 35px 0;}
.down-title a{font-size: 28px;color:#356dc2;}
.ico-qr{width: 1em;height: 1em;display: inline-block;background: url(../img/web/ico_qrcode.png);background-size: 100% 100%;}
.down-title a i{font-size: 36px;margin-right: 10px;vertical-align: middle;}
.down-title a span{vertical-align: middle;}
.filter-wraper-1{ background: none;border-top:1px solid #ebebed; }
.start-date,.end-date{background-image:url(../img/web/ico_data_s.png);background-repeat:no-repeat;background-position: center right;}
.end-date{background-image:url(../img/web/ico_data_e.png);}

.pages{}
.pages a{display: inline-block;height: 40px;line-height: 40px;color:#666;border:1px solid #e8e8e6;background: #fff;min-width: 40px;text-align: center;padding:0 10px;}
.pages a:hover,.pages a.active{background: #3381ff;color: #fff;}
.m-tit-bar{background: #f7f8fc;border-left:10px solid #356dc2;margin:20px 0;}
.m-tit-bar .title{padding: 0 20px;color:#356dc2;height: 48px;line-height: 48px;}
.m-tit-bar .btn{float:right;height: 42px;line-height: 40px;margin-top: 4px;background: #356dc2;color:#fff;padding:0 20px;border-radius:0;font-size: 20px;margin-right: 20px;}
.m-tit-bar .btn:hover{opacity: .9;}
.table-container .checkbox{margin:0;}

/* 添加用户 */
.container_white{background: #fff;padding: 40px 20px 20px 40px;}
.container_white .title{border-bottom: 1px solid #f3f3f3;padding-bottom: 40px;}
.add_user_form label{font-weight: normal;width: 120px;text-align: right;}
.add_user_form .form-control{border-radius:0;width: 300px;}
.add_user_form .form-group{margin: 20px 0; }
.add_user_form .beizhu{width: 730px;height: 140px;}
.add_user_form .btns{margin:130px 0 60px; text-align: center;}
.add_user_form .btns .btn{height: 50px;line-height: 50px;padding:0 50px;font-size:20px;margin:0 20px;border-radius: 0;}
.add_user_form .btns .btn-save{color:#fff;background:#356dc2; border:1px solid #356dc2;}
.add_user_form .btns .btn-cancel{color:#8c8c8c;background:#e7effc;border:1px solid #d9dcdf;}
.add_user_form .btns .btn:hover{opacity: .9;}

/* 电子面单 */
.miandan_head{background: #fff;padding:20px 30px; position: relative;margin-bottom: 40px;}
.miandan_head .btn{position: absolute;z-index: 10;bottom:20px;right: 30px;}
.miandan_head .det{padding: 0 150px;}
.miandan_head .icon{float:left;font-size: 126px;}
.ico-miandan{background-image: url(../img/web/miandan.png);}
.miandan_head .det .tit{margin-bottom: 20px;font-size: 20px;}
.miandan_head:after{content: "";display: block;clear: both;}
.miandan_head .desc{line-height: 30px;}