@charset "utf-8";
*{ margin:0; padding:0; box-sizing: border-box;}
body, input, button, textarea { color:#474747; font: 14/1 "Microsoft YaHei", Arial, simsun, Tahoma, Verdana, Helvetica, sans-serif; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display:block; }
body { _background-image:url(about:blank); _background-attachment:fixed; }
img { border:none; }
li { list-style:none; }
i, em { font-style:normal; }
i{width: 1em;height: 1em;display: inline-block;background-repeat: no-repeat;background-size: 100% 100%;}
a {color:#222;text-decoration:none; cursor:pointer; -webkit-transition: color,background .2s;transition: color,background .2s;}
a:focus { outline:none; }
a:hover { color:#3fa3de; text-decoration:none; }
input[type="text"]:focus ,select,textarea{ outline:none; }
input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;padding:0;}
img[src=""]{opacity: 0;}
.btn:active{box-shadow: 3px 3px 10px rgba(0,0,0,.2) inset;}
::-webkit-input-placeholder { color: #e1e1e1;}
:-moz-placeholder { color: #e1e1e1;}
::-moz-placeholder {color: #e1e1e1;}
:-ms-input-placeholder {color: #e1e1e1;}


.header{background: #fff;}
.header .logo{float:left;padding: 13px 0;}
.header .logo img{height: 44px;}
.header .top-links{float: right;margin-left: 90px;line-height: 20px;padding-top:25px;}
.header .top-links a{padding: 0 10px;}
.header .top-links a i{vertical-align: middle;margin-right: 5px;}
.header .top-nav{float: right;margin:0;}
.header .top-nav li{float: left;}
.header .top-nav li a{display: block;padding: 25px 30px;line-height: 20px;}
.header .top-nav li.active a{ color:#3fa3de;}
.ico-user{background-image: url(../img/web/ico-user.png);}

.banner img{width: 100%;}
.main-tit-bar{padding: 80px 0 0 0;margin-bottom: 50px;text-align: center;}
.main-tit-bar .title{padding-bottom: 25px;margin:0;font-size: 36px;color:#1d87c5;background-image: url(../img/web/tit-line.png);background-position: bottom center;background-repeat: no-repeat;overflow: hidden;}
.main-tit-bar .des{ font-size: 18px;color:#666666;line-height: 24px;margin: 20px 15% 0 15%;}

.jieshao-con{margin-bottom: 100px;}
.sq-con{ position: relative; height:376px;margin-bottom: 60px;}
.sq-con .btn{position: absolute; bottom: 60px;height: 70px;line-height: 70px;width:220px;text-align: center;border-radius:70px;border: 3px solid #1b87f6;color: #1b87f6;font-size: 32px;padding:0;left: 50%;margin-left:-110px;}

.layout-ys img{width: 100%;}
.fw-list{ overflow: hidden;margin-bottom: 100px;}
.fw-list li{width: 31.3333%;float: left;margin-right: 3%;}
.fw-list li.last{margin-right:0;}
.fw-list li img{width: 100%;}

.footer{background: #4f4f4f;text-align:center;font-size: 18px;color:#8f8f8f;line-height: 32px;padding: 50px;}
.footer p{margin:0;}

.banner-jon{height: 500px;background: url(../img/web/banner-join.png) center center no-repeat;background-size:cover;}
.wrap{overflow: hidden;}
.wrap li {
    float: left;
    width: 25%;
    vertical-align: top;
    margin-bottom: 60px;text-align: center;
}
.join-guide {
    width: 182px;
    height: 170px;display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/web/sz_join_guide.png);
}
.join-guide1 {
    background-position: 0 0;
}
.wrap li h3 {
    font-size: 18px;
    line-height: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrap-white p {
    text-align: left;
    margin-left: 20px;
}
.wrap li p {
    font-size: 14px;
    line-height: 1.6em;padding: 0 15px;
}
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 10px;
}
/*  */
.main-container{padding-bottom: 60px;}
.nav-crumbs {
    line-height: 50px;
    font-size: 14px;
    color: #828282;
    height: 50px;
}
.nav-crumbs a {
    display: inline-block;
    padding: 0 5px;
    color: #828282;
}
.nav-crumbs a:hover {
  color: #3278e6;
}
.column-1 {
  float: left;
  width: 135px;
}
.column-2 {
  margin-left: 135px;
  border-left:1px solid #ddd;
}
.r-middle {
  padding: 20px;
  width: 813px;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid #78aaf0
}
.r-middle h2 {
  border-bottom: 1px solid #d2d2d2;
  line-height: 26px;
  font-size: 18px;
  color: #3278e6;
  padding-bottom:10px;
  margin-bottom: 10px;
}
.r-middle p {
  text-indent: 2em;
  color: #828282
}
.r-middle strong {
  line-height: 50px
}
.r-middle .content {
  text-indent: 3em;
  line-height: 2.4em;
}
.r-middle .content iframe {
  vertical-align: middle;
}
.column-1 ul {
  line-height: 40px;
  list-style-type: none;
  margin-bottom: 0;
}
.column-1 li {
  text-align: center;
  height: 40px;
  border-bottom: 1px solid #FFF;
  color: #323232;
  background-color: #f5f5f5
}
.column-1 .select {
  color: #FFF;
  background-color: #3278e6
}
.column-1 li a {
  color: #323232;
  font-size: 16px;
}
.column-1 li a:hover {
  color: #3278e6;
}
.column-1 ul .select {
  position: relative;
}
.column-1 ul .select a {
  color: #FFF;
}
.column-1 ul .select .select-tag {
  position: absolute;
  top: 14px;
  right: -1px;
  display: block;
  width: 6px;
  height: 12px;
  background: url("https://cdn.kuaidi100.com/images/bg_selected.png") -1px -1px no-repeat
}
/* */
.con-404{
    padding-top: 150px; text-align: center;
}
.con-404 .txt{padding: 50px 0;font-size: 16px;color:#196bcd;line-height: 30px;}
.con-404 .txt p{margin:0;}
.con-404 .btns{}
.con-404 .btns .btn{height:40px;line-height: 40px;font-size:16px;color:#fff;padding:0 30px;border-radius:40px;margin:0 10px;}
.con-404 .btn-common{background:#0080ff;}
.con-404 .btn-refresh{background:#d9d9d9;}
.con-404 .txt.gray{color:#666666;}

.filter-wraper{background:#fff;padding: 20px 15px 0 15px; position: relative;margin-bottom: 20px;}
.filter-wraper .form-inline .form-group{margin:0 60px 20px 0;}
.filter-wraper .btn{float: right; position: absolute;right:20px;bottom:20px;}
.filter-wraper label{font-weight: normal;}

.table-container{background: #fff;}
.table-container table{border:1px solid #ddd;}
.table-container table thead tr td{color:#356dc2;background:#f4f4f4;font-size: 1.1em;padding: 5px 10px;}
.table-container table tr td{padding: 10px 10px;text-align: center;line-height: 30px;}
.table-container .uimg{width: 40px;height: 40px;border-radius:50%;overflow: hidden;vertical-align: middle;display: inline-block;margin-right: 10px;}
.table-container .uimg img{width: 100%;height: 100%;}
.table-container .uname{vertical-align: middle;}
.table-container table tr td.text-left{text-align: left;}
.table-container table i,.table-container table span,.table-container table img{vertical-align: middle;}

.u-wraper{ overflow: hidden;border:1px solid #ddd; }
.u-wraper:after{content: "";clear: both;display: block;}
.u-wraper .column-2{padding:20px;}
.pages{}
.pages a{display: inline-block;height: 40px;line-height: 40px;color:#666;border:1px solid #e8e8e6;background: #fff;min-width: 40px;text-align: center;padding:0 10px;}
.pages a:hover,.pages a.active{background: #3381ff;color: #fff;}

.top-user{float: right;margin-top: 15px;}
.top-user img{width: 40px;height: 40px;border-radius: 50%;margin-right: 5px;vertical-align: middle;}
.top-user .name{}

.uinfo-table{width: 100%;border-collapse: collapse;}
.uinfo-table td{text-align: left;}
.uinfo-table td,.uinfo-table th{padding: 10px;}
.uinfo-table th{width: 120px;text-align: right;font-weight: normal;}
.uinfo-table .btn-link{color:#3fa3de;}
.uinfo-btns{margin: 50px 0; text-align: center;}
.uinfo-btns .btn{padding: 0 20px;line-height: 40px;}
.uinfo-btns .btn-submit{background: #3381ff;color:#fff;margin: 0 20px 0 0;}
.uinfo-btns .btn-cancel{background-color: #eee;color:#444;}

.ico-ok{background-image: url(../img/web/sprites-24x24.png);background-position: 0 -9em;background-size:100% auto;}
.ico-tip{background-image: url(../img/web/sprites-24x24.png);background-position: 0 -10.5em;background-size:100% auto;}

.safe-table th{text-align: left;}
.uinfo-table td,.uinfo-table th{padding: 20px 10px;}
.safe-table .desc{color:#999;}
.safe-table  .tit{margin-left: 5px;font-size: 18px;}
.btn-common,a.btn-common{background:#3381ff;color:#fff;}
a.btn-common:hover{color: #fff;}