@charset "utf-8";
*{ margin:0; padding:0; box-sizing: border-box;}
body, input, button, textarea { color:#000; font:.28rem/1 "Microsoft YaHei", Arial, simsun, Tahoma, Verdana, Helvetica, sans-serif; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display:block; }
body { _background-image:url(about:blank); _background-attachment:fixed; }
img { border:none; max-width: 100%;}
li { list-style:none; }
i, em { font-style:normal; }
i{width: 1em;height: 1em;display: inline-block;background-repeat: no-repeat;background-size: 100% 100%;}
a { color:#333; text-decoration:none; cursor:pointer; -webkit-transition: color,background .2s;transition: color,background .2s;}
a:focus { outline:none; }
a:hover { color:#ffa200; text-decoration:none; }
input[type="text"]:focus ,select,textarea{ outline:none; }
input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;padding:0;}
img[src=""]{opacity: 0;}
.btn:active{box-shadow: 3px 3px 10px rgba(0,0,0,.2) inset;}


.input-row:after,.bind-row:after,.list .item:after,.filter-row:after{content: "";display: block;clear: both;}
.color-blue{color:#4888f4!important;}
.color-green{color:#58c073!important;}
.color-red{color:#ff0000!important;}
.color-base{color:#917140!important;}
.color-gray{color: #999;}
.graybody .viewport{background-color: #f4f4f4;}

.list{}
.list .item{padding:.25rem 0.25rem;display: block; position: relative;border-bottom: 1px solid #eee;}
.list .item-divider{background-color: #f4f4f4;padding: .2rem 0;}
.list .item-link{}
.list .item-link .arrow-left{font-size: .7rem;position: absolute;left: .35rem;top:50%;margin-top: -.35rem;}
.list .item-link .arrow-right{font-size: 1rem;position: absolute;right: .35rem;top:50%;margin-top: -.5rem;color: #ccc;}
.list .item-link .arrow-left + .txt{padding-left: 1.4rem;}
.list a.item:active{background-color: #f4f4f4;}
.line{height: .15rem;background:#f2f4f7;}

@media (min-width: 600px){
	body{width: 600px;margin: 0 auto;box-shadow: 0 0 15px rgba(0,0,0,.3);}
	.header,.footer-bar{width: 600px;left: 50%;margin-left: -300px;}
}

.header{position: static;top: 0;width: 100%;left: 0;}
.header .logo{padding: .4rem 0;text-align: center;background-color: #000;}
.header .logo img{height: .5rem;}
.header + div{}
.header .top-right{position: absolute;right: 0;top: 0;}

.navbar{}
.navbar .swiper-slide{width: auto;}
.navbar ul{overflow: hidden;padding-right: 350px;}
.navbar li{float: left;text-align:center;line-height: .7rem;white-space: nowrap;}
.navbar li a{padding: 0;display: block;padding: 0 .25rem;}
.navbar .btn-plus{position: absolute;top:0;right:0;z-index:20;width: .7rem;height: .7rem;line-height:.7rem;background: rgba(255,255,255,.8);text-align: center;}
.ico-plus{font-size: .3rem;background-image: url(../images/sprites-30x30.png);background-size: 100% auto;}

.swiper-pagination-bullet-active{background:#fff;}

/*首页菜单*/
.section-menus{ overflow: hidden;padding: .18rem 0; }
.section-menus .item{width: 25%;text-align: center;float: left;border:0;padding: .18rem 0;}
.section-menus .item i{background-image: url(../images/sprites-menus.png);background-size:100% auto;font-size: .7rem;}
.section-menus .item i.ico-menu-1{background-position: 0 0;}
.section-menus .item i.ico-menu-2{background-position: 0 -1.5em;}
.section-menus .item i.ico-menu-3{background-position: 0 -3em;}
.section-menus .item i.ico-menu-4{background-position: 0 -4.5em;}
.section-menus .item i.ico-menu-5{background-position: 0 -6em;}
.section-menus .item i.ico-menu-6{background-position: 0 -7.5em;}
.section-menus .item i.ico-menu-7{background-position: 0 -9em;}
.section-menus .item i.ico-menu-8{background-position: 0 -10.5em;}
.section-menus .item span{display: block;font-size: .24rem;margin-top: .15rem;}
/*优惠活动*/
.section-activity{padding: .3rem .25rem;}
.section-activity .tit{display: inline-block;padding: 0 .1rem;color: #fff;line-height: .4rem;font-size: .22rem;background: #df0000;border-radius:2px;float: left;}
.section-activity .activity-slider{margin-left: 1.35rem;height: .4rem;line-height: .4rem;}
.section-activity .activity-slider .swiper-slide{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
/*主标题*/
.main-tit-bar{padding: .5rem 0;text-align: center;}
.main-tit-bar .title{font-size: .4rem;margin: 0 0 .15rem 0;}
.main-tit-bar .title .red{color: #df0000;}
.main-tit-bar .desc{font-size: .18rem;color:#666;}
.main-tit-bar .desc .txt{margin: 0 .1rem;}
.main-tit-bar .desc .l{width: .5rem;height: 1px;background: #aaa;display: inline-block;vertical-align: middle;}

.in-news-list{}
.in-news-list .item{padding: .14rem .25rem .25rem;position:relative;display: block;overflow: hidden;}
.in-news-list .item:active{background: #f4f4f4;}
.in-news-list .item:after{content: "";width: 100%;height: 1px;left:0;bottom:0;position:absolute;display:block;background-color: #f4f4f4;transform: scaleY(.5);-webkit-transform: scaleY(.5);}
.in-news-list .item:last-child:after{display: none;}
.in-news-list .item .img{display: block;width: 2rem;height: 1.2rem;float: left; margin-top: .09rem;}
.in-news-list .item .det{display: block;margin-left: 2.25rem;}
.in-news-list .item .det .tit{display:block;color:#333333;font-size: .28rem;line-height: .45rem;height: .9rem;overflow: hidden;}
.in-news-list .item .det .desc{display:block;font-size: .2rem;color:#999;margin-top: .15rem;}
/*六大班型*/
.class-item{margin: 0 .25rem;background: #f2f4f7;}
.class-item .img{border-radius:8px;overflow: hidden;}
.class-item .det{padding: .35rem .15rem .45rem;}
.class-item .det h3{font-size: .36rem;color: #000;margin-bottom: .25rem;}
.class-item .det .name{vertical-align: bottom;color:#df0000;margin-bottom: .25rem;}
.class-item .det .name b{font-size: .3rem;}
.class-item .det .desc{font-size: .24rem;color:#666;line-height: .36rem;}
.class-item .det .btns{margin-top: .3rem; text-align: center;}
.class-item .det .btn{height: .7rem;line-height: .7rem;border-radius:.7rem;display: inline-block;padding: 0 .35rem 0 .5rem;color: #fff;font-size: .3rem;background-color: #e85367;background: linear-gradient(left,#f09874,#ec766e,#e85167);background: -webkit-linear-gradient(left,#f09874,#ec766e,#e85167);}
.ico-arrow{background-image: url(../images/ico-arrow-white.png);vertical-align: middle;}
.class-item .det .btn i{margin-left: .25rem;}
/*金牌团队*/
.master-list{overflow: hidden;margin: 0 .25rem;}
.master-list li{width: 50%;float: left;text-align: center;color:#666;position: relative;padding: .3rem 0;}
.master-list li .img{width: 1.5rem;height: 1.5rem;padding: .1rem;border-radius: 50%;overflow: hidden;margin: 0 auto;border:1px solid #ddd;margin-bottom: .2rem;}
.master-list li .name{font-size: .24rem;margin-bottom: .15rem;}
.master-list li .name b{font-size: .3rem;font-weight: normal;color: #000;margin-right: .2rem;}
.master-list li .year b{font-weight: normal;color:#df0000;}
.master-list li .year b em{font-size: .36rem;}
.master-list li .school{margin-top: .2rem;}
.master-list li .school img{height: .4rem;}
.master-list li:before,.master-list li:after{content:"";display:block;width: 1px;top: 0;bottom: .35rem;background:#eee;position: absolute;right:0;}
.master-list li:after{right: .35rem;top:0;bottom:auto;left:0;width: auto;height: 1px;}
.master-list li:nth-child(2n):before,.master-list li:nth-child(1):after,.master-list li:nth-child(2):after{display: none;}
.master-list li:nth-child(2n):after{left:.35rem;right:0;}
.master-list li:nth-child(3n):before{top:.35rem;bottom:0;}

.btn-border-area{padding: .45rem 0;text-align: center;}
.btn-border-area .btn{display: inline-block;line-height: .6rem;color:#df0000;font-size: .3rem;padding: 0 .45rem;border-radius: .6rem;border: 1px solid #df0000;}

.sliders-tabs{text-align: center;margin-bottom: .4rem;font-size: 0;}
.sliders-tabs span{display: inline-block;margin: 0 .1rem;font-size: .26rem;height: .45rem;line-height: .45rem;border:1px solid #aaa;padding: 0 .2rem;color:#666;width: auto;border-radius:0;background:#fff;opacity: 1;}
.sliders-tabs .swiper-pagination-bullet-active{border-color:#df0000;background:#df0000;color:#fff;}
/**/
.environment-slider .swiper-slide{height: 5rem;}
.environment-slider .img-1{position: absolute;width: 5rem;height: 5rem;top:0;left: 0;}
.environment-slider .img-2{position: absolute;width: 2.4rem;height: 2.4rem;top:0;right: 0;}
.environment-slider .img-3{position: absolute;width: 2.4rem;height: 2.4rem;bottom:0;right: 0;}

.xiaolv-slider{margin:0 0 0 .25rem;padding-right: 1.2rem;}
.xiaolv-slider .swiper-slide{background: #eee;padding: .3rem 0;color:#fff;text-align: center;border-radius:.15rem;background-image: url(jx-bg-1.png);background-size: 100% 100%;background-image: url(../images/jx-bg-1.png);}
.xiaolv-slider .swiper-slide h3{margin-bottom: .15rem;font-size: .48rem;}
.xiaolv-slider .swiper-slide h4{font-size: .3rem;font-weight: normal;}
.xiaolv-slider .swiper-slide:nth-child(1){background-image: url(../images/jx-bg-1.png);}
.xiaolv-slider .swiper-slide:nth-child(2){background-image: url(../images/jx-bg-2.png);}
.xiaolv-slider .swiper-slide:nth-child(3){background-image: url(../images/jx-bg-3.png);}

.xiaolv-title{font-size: .3rem;margin-bottom: .4rem;padding: 0 .25rem;}
.ico-flag{background-image: url(../images/ico-flag.png);vertical-align: middle;}
.xiaolv-list{ overflow: hidden; padding: .35rem 0;font-size: 0;}
.xiaolv-list li{width: 50%;display:inline-block;padding:.35rem 0;font-size: .24rem;text-align: center;vertical-align: top;}
.xiaolv-list li h3{color:#df0000;margin-bottom: .3rem;}
.xiaolv-list li h3 em{font-size: .48rem;}
.xiaolv-list li p{line-height: .32rem;color: #333;}

.wenhua-list{width: 105%; overflow: hidden;}
.wenhua-list li{width: 590px;float: left;margin: 0 25px 25px 0;border:1px solid #ddd;}
.wenhua-list li .img{width: 280px;height: 200px;float: left;}
.wenhua-list li .img img{width: 100%;height: 100%;display: block;}
.wenhua-list li .det{margin-left: 305px;}
.wenhua-list li .det .tit{font-weight: normal;font-size: 26px;line-height: 1;margin-bottom: 10px;padding-top: 20px;}
.wenhua-list li .det .tit a{color:#000;}
.wenhua-list li .det .desc{font-size: 16px;color: #666;line-height: 30px;height: 90px;overflow: hidden;margin-bottom: 10px;}
.wenhua-list li .det .btn{}
.ico-arrow-r{width: 20px;height: 20px;display: inline-block;background: url(../images/sprites-20x20.png) 0 -90px no-repeat;}
